<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>작성</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">메일발송</a></li>
          <li class="breadcrumb-item"><a href="#!">작성</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="col-sm-1 f-left p-l-0" id="mail_t_div">
                 <select id="mail_t" class="form-control form-control-defalut" style="display:none">
                    <option value="2">모듈1</option>
                    <option value="1">모듈2</option>
                </select>
              </div>
              <button type="submit" class="btn btn-inverse f-right m-b-0 sendBtn">저장</button>
              <button type="submit" class="btn btn-inverse f-right m-b-0 m-r-5 perivewBtn">미리보기</button>
            </div>
            <div class="card-block">
              <div class="form-group row">
                <input type="hidden" id="mailType" value="<%=type%>" />
                <input type="hidden" id="mailData" value="<%=JSON.stringify(mailData)%>" />
                <input type="hidden" id="mailSender" value="<%=mailSender.n_idx+'|'+mailSender.M_name+'&lt;'+mailSender.M_email+'&gt;'%>" />
                <input type="hidden" id="mailRecipi" value="<%=JSON.stringify(mailRecipi)%>" />
                <input type="hidden" id="mailGroup" value="<%=JSON.stringify(mailGroup)%>" />
                <label class="col-sm-2 col-form-label">* 발송형태</label>
                <div id="type" class="form-radio">
                  <div class="col-sm-12">
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="0" name="M_type">
                        <i class="helper"></i>즉시
                      </label>
                    </div>
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="1" name="M_type" checked>
                        <i class="helper"></i>예약
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row reserveTime">
                <label class="col-sm-2 col-form-label">* 예약시간</label>
                <div class="col-sm-5 row">
                  <div class='col-sm-6 input-group p-r-0'>
                    <span class="input-group-addon bg-inverse">
                      <span class="far fa-calendar-alt"></span>
                    </span>
                    <input type="text" id="datepicker" class="form-control" />
                  </div>
                  <div class="col-sm-6 input-group p-r-0" id="date">
                     <select name="time_h" id="time_h" class="form-control form-control-defalut">
                        <option value="" selected="selected">HH</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <p style="margin: auto 10px;">:</p>
                    <select name="time_m" id="time_m" class="form-control form-control-defalut">
                        <option value="" selected="selected">MM</option>
                        <option value="00">00</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                  </div>
                  <span class='messages p-l-15'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 보내는 사람</label>
                <div class="col-sm-5">
                  <select id="M_sender" class="sender-select col-sm-12 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 받는 사람</label>
                <div class="col-sm-5">
                  <select id="M_recipi" class="recipi-select col-sm-12 form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check3">
                  <button type="button" class="btn btn-inverse btn-modal">주소록</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">수신자 그룹</label>
                <div class="col-sm-5">
                  <select id="M_group" class="group-select col-sm-12 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check1">
                  <button type="button" class="btn btn-inverse btn-modal">주소록</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 메일타입</label>
                <div id="type" class="form-radio">
                  <div class="col-sm-12">
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="1" name="M_template">
                        <i class="helper"></i>일반메일
                      </label>
                    </div>
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="0" name="M_template" checked>
                        <i class="helper"></i>영화메일
                      </label>
                    </div>
                    <button type="button" class="btn btn-inverse templateBtn">메일불러오기</button>
                  </div>
                </div>
              </div>
              <div class="form-group row seqNumber">
                <label class="col-sm-2 col-form-label">* 발송차수</label>
                <div class="col-sm-3">
                  <input type="text" id="M_seq_number" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-2 border-checkbox-section">
                  <div class="i_check border-checkbox-group border-checkbox-group-default">
                    <input class="border-checkbox" type="checkbox" id="invitation">
                    <label class="border-checkbox-label" for="invitation">인비테이션</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 키워드</label>
                <div class="col-sm-5">
                  <select id="M_keyword" name="select" class="col-sm-6 form-control form-control-defalut f-left m-b-10">
                    <option value="0">선택</option>
                    <% for(var i=0; i < keywordList.length; i++) { %>
                      <option value="<%=keywordList[i].keyword_idx%>"><%=keywordList[i].keyword_main%></option>
                    <% } %>
                  </select>
                  <select id="M_mail_type" name="select" class="col-sm-6 form-control form-control-defalut f-left m-b-10">
                    <option value="0">선택</option>
                    <% for(var i=0; i < typeList.length; i++) { %>
                      <option value="<%=typeList[i].M_mail_type%>"><%=typeList[i].M_mail_type%></option>
                    <% } %>
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 메일제목</label>
                <div class="col-sm-10">
                  <input id="M_subject" type="text" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 메일내용</label>
                <div class="col-sm-10">
                  <textarea id="M_body"></textarea>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">발송 테스트</label>
                <div class="col-sm-5">
                  <input type="text" id="email1" class="form-control f-left col-sm-4"><p class="m-l-5 f-left m-r-5">@</p><input type="text" id="email2" class="form-control f-left col-sm-4">
                  <div class="col-sm-1 f-left">
                  	<button type="button" class="btn btn-inverse btn-test">발송</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-bottom">
              <button type="submit" class="btn btn-inverse f-right m-b-0 sendBtn">저장</button>
              <button type="submit" class="btn btn-inverse f-right m-b-0  m-r-5 perivewBtn">미리보기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='mailList-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">메일 주소록</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body p-b-0'>
              <div class='card m-b-0'>
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned">
                      <tbody>
                        <tr>
                          <td rowspan='4'>
                            <div class="right-icon-control m-b-5">
                              <input type="text" class="form-control  search-text" placeholder="메일주소찾기(이름/이메일/회사)" id="searchMail">
                              <div class="form-icon">
                                <i class="fas fa-search"></i>
                              </div>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3 class="menubar">
                                    전체선택(현재 리스트)
                                    <i class="fas fa-sort-down float-right m-r-5"></i>
                                    <i class="fas fa-sort-up float-right m-r-5" style="display:none;"></i>
                                  </h3>
                                  <ul class="submenu">
                                    <li>
                                      <input id="chk_1" class="allCheck" type="checkbox" value="All"/>
                                      <label for="chk_1" title="그룹/이메일 전체선택">그룹/이메일 전체선택</label>
                                    </li>
                                    <li>
                                      <input id="chk_2" class="allCheck" type="checkbox" value="emailAll"/>
                                      <label for="chk_2" title="이메일 전체선택">이메일 전체선택</label>
                                    </li>
                                    <li>
                                      <input id="chk_3" class="allCheck" type="checkbox" value="groupAll"/>
                                      <label for="chk_3" title="그룹 전체선택">그룹 전체선택</label>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3 class="menubar">
                                    그룹
                                  </h3>
                                </li>
                                <ul class="submenu groupLi">
                                  <% for(var i=0; i < groupList.length; i++) { %>
                                    <li>
                                      <input type="checkbox" id="chk<%=i+1%>_g" value="<%=groupList[i].M_group_title%>" title="<%= groupList[i].M_group_title %>&lt;<%=groupList[i].groupCount%>명&gt;"/>
                                      <label for="chk<%=i+1%>_g" title="<%= groupList[i].M_group_title %>&lt;<%=groupList[i].groupCount%>명&gt;"><%= groupList[i].M_group_title%>&lt;<%=groupList[i].groupCount%>명&gt;</label>
                                    </li>
                                    <% }; %>
                                </ul>
                              </ul>
                            </div>
                            <div class="paging">
                              <input type="hidden" data-type="group" value="<%=groupListPageNum%>"/>
                              <input type="text" data-type="group" value="<%=groupListPageNum%>"/>
                               / <p class="count"><%=(Math.ceil(groupListCount/10) < 1)? 1 : Math.ceil(groupListCount/10)%></p>
                              <div class="bottomBtn">
                                <button class="btn btn-default btn-sm" data-type="group" data-value="first" data-num="0"><i class="fas fa-angle-double-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="prev" data-num="<%=(groupListPageNum != 1) ? groupListPageNum-1 : 0%>"><i class="fas fa-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="next" data-num="<%=(groupListPageNum != groupListCount) ? groupListPageNum+1 : groupListCount%>"><i class="fas fa-chevron-right"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="end" data-num="<%=Math.ceil(groupListCount/10)%>"><i class="fas fa-angle-double-right"></i></button>
                              </div>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3>이메일</h3>
                                  <ul class="submenu emailLi">
                                    <% for(var i=0; i < mailList.length; i++) { %>
                                      <li>
                                        <input type="checkbox" id="chk<%=i+1%>" value="<%=mailList[i].n_idx%>" title="<%= mailList[i].M_name %>&lt;<%=mailList[i].M_email%>&gt;"/>
                                        <label for="chk<%=i+1%>" title="<%= mailList[i].M_name %>&lt;<%=mailList[i].M_email%>&gt;"><%= mailList[i].M_name%>&lt;<%=mailList[i].M_email%>&gt;</label>
                                      </li>
                                      <% }; %>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <div class="paging">
                              <input type="hidden" data-type="mail" value="<%=mailListPageNum%>"/>
                              <input type="text" data-type="mail" value="<%=mailListPageNum%>"/>
                               / <p class="count"><%=(Math.ceil(mailListCount/10) < 1)? 1 : Math.ceil(mailListCount/10)%></p>
                              <div class="bottomBtn">
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="first" data-num="0"><i class="fas fa-angle-double-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="prev" data-num="<%=(mailListPageNum != 1) ? (mailListPageNum-1) * 10 : 0%>"><i class="fas fa-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="next" data-num="<%=(mailListPageNum != Math.ceil(mailListCount/10)) ? mailListPageNum * 10 : Math.ceil(mailListCount/10) * 10%>"><i class="fas fa-chevron-right"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="end" data-num="<%=(Math.ceil(mailListCount/10)-1) * 10%>"><i class="fas fa-angle-double-right"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="rightLeftBtn">
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="right"><i class="fas fa-chevron-right"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="left"><i class="fas fa-chevron-left"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="allLeft"><i class="fas fa-angle-double-left"></i></button>
                            </div>
                          </td>
                          <td class="rightTd">
                            <div class="selectedBox">
                              <h3>수신그룹(숨은참조) <span class="text-info">0</span></h3>
                              <div class="box">
                                <ul id="groupUl">

                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="rightLeftBtn">
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="right"><i class="fas fa-chevron-right"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="left"><i class="fas fa-chevron-left"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="allLeft"><i class="fas fa-angle-double-left"></i></button>
                            </div>
                          </td>
                          <td>
                            <div class="selectedBox">
                              <h3>받는 사람 <span class="text-info" >0</span></h3>
                              <div class="box">
                                <ul id="recipiUl">

                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-inverse" id="saveBtn">적용</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- login modal start -->
      <div id="login-Modal" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
          <div class="login-card card-block login-card-modal">
            <form class="md-float-material">
              <div class="text-center">
                <img src="/images/login_logo.png" alt="logo.png">
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3>Sign In</h3>
                  </div>
                </div>
                <hr>
                <div class="input-group">
                  <input name="username" type="text" class="form-control" placeholder="ID">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input name="password" type="password" class="form-control" placeholder="Password">
                  <span class="md-line"></span>
                </div>
                <div class="has-danger text-left">
                  <div class="col-form-label" id="login-msg"></div>
                </div>
                <div class="row m-t-15">
                  <div class="col-md-12">
                    <button type="button" id='loginBtn' class="btn btn-inverse btn-md btn-block waves-effect text-center">확인</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- end of form -->
          </div>
        </div>
      </div>
      <!-- login modal end -->
      <!-- Modal start-->
      <div class='modal fade' id='fileUpload-Modal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class="file-upload-loader">
              <div class="loader-block">
                <svg id="loader2" viewBox="0 0 100 100">
                  <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                </svg>
              </div>
            </div>
            <div class='modal-header'>
              <h5 class="modal-title"><span id="date"></span>파일첨부</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="col-md-12">
                <div class="alert alert-default" style="border-radius:  0; border-width:  2px;  margin-bottom: 2rem;">
                	<ul class="p-l-15 f-12" style="list-style-type: disc; color:  #666;">
                    	<li>본문에 링크할 자료 버튼을 삽입합니다.</li>
                      <li>버튼 삽입 후 버튼 이름을 수정할 시, 이름에 커서를 위치하거나 이름을 드래그한 후 마우스 오른쪽 클릭 후 링크 메뉴를 선택해주시고 본문 항목의 이름을 수정하면 됩니다.</li>
                	</ul>
              	</div>
              </div>
              <div class="col-md-12">
                <div class="m-b-0 form-radio">
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-a">
                          <i class="helper"></i>
                          <span style="color:white;width: 100px; background:#4E4E4E; margin-top:20px; padding: 5px 20px; text-align: center;">본문자료</span>
                      </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-b">
                          <i class="helper"></i>
                          <span style="background:#f9f9f9; border: 1px solid #000000; width: 130px; margin-top:5px; padding: 5px 15px; font-weight: bold; ; font-size: 12px;">관련 데이터</span>
                      </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-c">
                          <i class="helper"></i>
                          <span style="color:white;width: 100px; background:#3d94f6; margin-top:10px; padding: 5px 20px; text-align: center;">바로가기</span>
                      </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-10">
                <div class="row">
                  <label class="col-sm-3 col-form-label">버튼이름</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="btnName">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <input type='file' class="form-control" id="fileUpload"/>
                <input type='text' class="form-control" id="urlInput" style="display:none" placeholder="URL을 입력해주세요."/>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
              <button type="button" class="btn btn-inverse mobtn" id="btn-file-upload">업로드</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='mailLoad-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">메일불러오기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="5%">NO</th>
                          <th width="25%">제목</th>
                          <th width="10%"></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                      <tfoot></tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <input id="copyMBody" type="text" value="" style="position:absolute;top:-9999em;">
    </div>
  </div>
</div>
<div class="preloader3 loader-block">
  <div class="circ1 loader-primary"></div>
  <div class="circ2 loader-primary"></div>
  <div class="circ3 loader-primary"></div>
  <div class="circ4 loader-primary"></div>
</div>
<style>
.i_check{
  margin-bottom: 0;
  margin-top: .3rem;
}
/* loader */
.loader-block{
  display: none;
  padding-top:22%;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  width: 500px;
  margin: auto;
  max-width: 100%;
  z-index: 10000;
}
/* modal */
.m-subject{
  white-space: pre-line;
  width: 500px;
}
</style>
<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<!-- select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ko.js"></script>
<!-- editor -->
<script src='/plugin/tinymce/js/tinymce/tinymce.min.js'></script>
<script src="/pages/email/js/editor.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/email/style.css">
<script src="/pages/email/js/modal.js"></script>
<script src="/pages/email/js/select2.js"></script>
<script src="/pages/email/js/script.js"></script>
