<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>작성</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">메일발송</a></li>
          <li class="breadcrumb-item"><a href="#!">작성</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <button type="submit" class="btn btn-inverse f-right m-b-0 sendBtn">저장</button>
              <button type="submit" class="btn btn-inverse f-right m-b-0 m-r-5 perivewBtn">미리보기</button>
            </div>
            <div class="card-block">
              <div class="form-group row">
                <input type="hidden" id="mailType" value="<%=type%>" />
                <input type="hidden" id="mailData" value="<%=JSON.stringify(mailData)%>" />
                <input type="hidden" id="mailSender" value="<%=mailSender.n_idx+'|'+mailSender.M_name+'&lt;'+mailSender.M_email+'&gt;'%>" />
                <label class="col-sm-2 col-form-label">* 발송형태</label>
                <div id="type" class="form-radio">
                  <div class="col-sm-12">
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="0" name="M_type">
                        <i class="helper"></i>즉시
                      </label>
                    </div>
                    <div class="radio radiofill radio-inverse radio-inline">
                      <label>
                        <input type="radio" value="1" name="M_type" checked>
                        <i class="helper"></i>예약
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row reserveTime">
                <label class="col-sm-2 col-form-label">* 예약시간</label>
                <div class="col-sm-5 row">
                  <div class='col-sm-6 input-group p-r-0'>
                    <span class="input-group-addon bg-inverse">
                      <span class="far fa-calendar-alt"></span>
                    </span>
                    <input type="text" id="datepicker" class="form-control" />
                  </div>
                  <div class="col-sm-6 input-group p-r-0" id="date">
                     <select name="time_h" id="time_h" class="form-control form-control-defalut">
                        <option value="" selected="selected">HH</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <p style="margin: auto 10px;">:</p>
                    <select name="time_m" id="time_m" class="form-control form-control-defalut">
                        <option value="" selected="selected">MM</option>
                        <option value="00">00</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                  </div>
                  <span class='messages p-l-15'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 보내는 사람</label>
                <div class="col-sm-5">
                  <select id="M_sender" class="sender-select col-sm-12 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 받는 사람</label>
                <div class="col-sm-5">
                  <select id="M_recipi" class="recipi-select col-sm-12 form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check3">
                  <button type="button" class="btn btn-inverse btn-modal">주소록</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">수신자 그룹</label>
                <div class="col-sm-5">
                  <select id="M_group" class="group-select col-sm-12 form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-sm-1 btn-check1">
                  <button type="button" class="btn btn-inverse btn-modal">주소록</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 발송차수</label>
                <div class="col-sm-5">
                  <input type="text" id="M_seq_number"  class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 키워드</label>
                <div class="col-sm-5">
                  <select id="M_keyword" name="select" class="col-sm-6 form-control form-control-defalut f-left m-b-10">
                    <option value="0">선택</option>
                    <% for(var i=0; i < keywordList.length; i++) { %>
                      <option value="<%=keywordList[i].keyword_idx%>"><%=keywordList[i].keyword_main%></option>
                    <% } %>
                  </select>
                  <select id="M_mail_type" name="select" class="col-sm-6 form-control form-control-defalut f-left m-b-10">
                    <option value="0">선택</option>
                    <% for(var i=0; i < typeList.length; i++) { %>
                      <option value="<%=typeList[i].M_mail_type%>"><%=typeList[i].M_mail_type%></option>
                    <% } %>
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label">첨부파일</label>
                <div class="col-sm-10">
                  <ul class="text-muted f-12  m-b-5">
                    <li>
                      <i class="fas fa-caret-right"></i> 파일 첨부는 최대 5개, 첨부파일의 전체 합 10MB까지 첨부 가능합니다.
                    </li>
                    <li>
                      <i class="fas fa-caret-right"></i> 첨부된 파일은 약 2주간 다운로드 가능하며 메일 하단의 링크형태로 제공됩니다.
                    </li>
                    <li>
                      <i class="fas fa-caret-right"></i> 첨부파일 유형은 실행파일 및 악성코드파일 등은 첨부하실 수 없습니다. (exe 등)
                    </li>
                  </ul>
                  <input type="hidden" id="fileList">
                  <input type="file" id="M_file" name="files[]" multiple="multiple" class="form-control">
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 메일제목</label>
                <div class="col-sm-10">
                  <input id="M_subject" type="text" class="form-control">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">* 메일내용</label>
                <div class="col-sm-10">
                  <textarea id="M_body"></textarea>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <!-- <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button id="sendBtn" type="submit" class="btn btn-inverse m-b-0">보내기</button>
                </div>
              </div> -->
            </div>
            <div class="card-bottom">
              <button type="submit" class="btn btn-inverse f-right m-b-0 sendBtn">저장</button>
              <button type="submit" class="btn btn-inverse f-right m-b-0  m-r-5 perivewBtn">미리보기</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='mailList-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">메일 주소록</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body p-b-0'>
              <div class='card m-b-0'>
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned">
                      <tbody>
                        <tr>
                          <td rowspan='4'>
                            <div class="right-icon-control m-b-5">
                              <input type="text" class="form-control  search-text" placeholder="메일주소찾기(이름/이메일/회사)" id="searchMail">
                              <div class="form-icon">
                                <i class="fas fa-search"></i>
                              </div>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3 class="menubar">
                                    전체선택(현재 리스트)
                                    <i class="fas fa-sort-down float-right m-r-5"></i>
                                    <i class="fas fa-sort-up float-right m-r-5" style="display:none;"></i>
                                  </h3>
                                  <ul class="submenu">
                                    <li>
                                      <input id="chk_1" class="allCheck" type="checkbox" value="All"/>
                                      <label for="chk_1" title="그룹/이메일 전체선택">그룹/이메일 전체선택</label>
                                    </li>
                                    <li>
                                      <input id="chk_2" class="allCheck" type="checkbox" value="emailAll"/>
                                      <label for="chk_2" title="이메일 전체선택">이메일 전체선택</label>
                                    </li>
                                    <li>
                                      <input id="chk_3" class="allCheck" type="checkbox" value="groupAll"/>
                                      <label for="chk_3" title="그룹 전체선택">그룹 전체선택</label>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3 class="menubar">
                                    그룹
                                  </h3>
                                </li>
                                <ul class="submenu groupLi">
                                  <% for(var i=0; i < groupList.length; i++) { %>
                                    <li>
                                      <input type="checkbox" id="chk<%=i+1%>_g" value="<%=groupList[i].M_group_title%>" title="<%= groupList[i].M_group_title %>&lt;<%=groupList[i].groupCount%>명&gt;"/>
                                      <label for="chk<%=i+1%>_g" title="<%= groupList[i].M_group_title %>&lt;<%=groupList[i].groupCount%>명&gt;"><%= groupList[i].M_group_title%>&lt;<%=groupList[i].groupCount%>명&gt;</label>
                                    </li>
                                    <% }; %>
                                </ul>
                              </ul>
                            </div>
                            <div class="paging">
                              <input type="hidden" data-type="group" value="<%=groupListPageNum%>"/>
                              <input type="text" data-type="group" value="<%=groupListPageNum%>"/>
                               / <p class="count"><%=(Math.ceil(groupListCount/10) < 1)? 1 : Math.ceil(groupListCount/10)%></p>
                              <div class="bottomBtn">
                                <button class="btn btn-default btn-sm" data-type="group" data-value="first" data-num="0"><i class="fas fa-angle-double-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="prev" data-num="<%=(groupListPageNum != 1) ? groupListPageNum-1 : 0%>"><i class="fas fa-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="next" data-num="<%=(groupListPageNum != groupListCount) ? groupListPageNum+1 : groupListCount%>"><i class="fas fa-chevron-right"></i></button>
                                <button class="btn btn-default btn-sm" data-type="group" data-value="end" data-num="<%=Math.ceil(groupListCount/10)%>"><i class="fas fa-angle-double-right"></i></button>
                              </div>
                            </div>
                            <div class="listBox">
                              <ul>
                                <li class="hasmenu">
                                  <h3>이메일</h3>
                                  <ul class="submenu emailLi">
                                    <% for(var i=0; i < mailList.length; i++) { %>
                                      <li>
                                        <input type="checkbox" id="chk<%=i+1%>" value="<%=mailList[i].n_idx%>" title="<%= mailList[i].M_name %>&lt;<%=mailList[i].M_email%>&gt;"/>
                                        <label for="chk<%=i+1%>" title="<%= mailList[i].M_name %>&lt;<%=mailList[i].M_email%>&gt;"><%= mailList[i].M_name%>&lt;<%=mailList[i].M_email%>&gt;</label>
                                      </li>
                                      <% }; %>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <div class="paging">
                              <input type="hidden" data-type="mail" value="<%=mailListPageNum%>"/>
                              <input type="text" data-type="mail" value="<%=mailListPageNum%>"/>
                               / <p class="count"><%=(Math.ceil(mailListCount/10) < 1)? 1 : Math.ceil(mailListCount/10)%></p>
                              <div class="bottomBtn">
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="first" data-num="0"><i class="fas fa-angle-double-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="prev" data-num="<%=(mailListPageNum != 1) ? (mailListPageNum-1) * 10 : 0%>"><i class="fas fa-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="next" data-num="<%=(mailListPageNum != Math.ceil(mailListCount/10)) ? mailListPageNum * 10 : Math.ceil(mailListCount/10) * 10%>"><i class="fas fa-chevron-right"></i></button>
                                <button class="btn btn-default btn-sm" data-type="mail" data-value="end" data-num="<%=(Math.ceil(mailListCount/10)-1) * 10%>"><i class="fas fa-angle-double-right"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="rightLeftBtn">
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="right"><i class="fas fa-chevron-right"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="left"><i class="fas fa-chevron-left"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="group" data-type="allLeft"><i class="fas fa-angle-double-left"></i></button>
                            </div>
                          </td>
                          <td class="rightTd">
                            <div class="selectedBox">
                              <h3>수신그룹(숨은참조) <span class="text-info">0</span></h3>
                              <div class="box">
                                <ul id="groupUl">

                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="rightLeftBtn">
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="right"><i class="fas fa-chevron-right"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="left"><i class="fas fa-chevron-left"></i></button>
                              <button class="btn btn-inverse btn-sm m-b-5" data-value="recipi" data-type="allLeft"><i class="fas fa-angle-double-left"></i></button>
                            </div>
                          </td>
                          <td>
                            <div class="selectedBox">
                              <h3>받는 사람 <span class="text-info" >0</span></h3>
                              <div class="box">
                                <ul id="recipiUl">

                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-inverse" id="saveBtn">적용</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- login modal start -->
      <div id="login-Modal" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
          <div class="login-card card-block login-card-modal">
            <form class="md-float-material">
              <div class="text-center">
                <img src="/images/login_logo.png" alt="logo.png">
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3>Sign In</h3>
                  </div>
                </div>
                <hr>
                <div class="input-group">
                  <input name="username" type="text" class="form-control" placeholder="ID">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input name="password" type="password" class="form-control" placeholder="Password">
                  <span class="md-line"></span>
                </div>
                <div class="has-danger text-left">
                  <div class="col-form-label" id="login-msg"></div>
                </div>
                <div class="row m-t-15">
                  <div class="col-md-12">
                    <button type="button" id='loginBtn' class="btn btn-inverse btn-md btn-block waves-effect text-center">확인</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- end of form -->
          </div>
        </div>
      </div>
      <!-- login modal end -->
      <!-- Modal start-->
      <div class='modal fade' id='fileUpload-Modal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class="file-upload-loader">
              <div class="loader-block">
                <svg id="loader2" viewBox="0 0 100 100">
                  <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                </svg>
              </div>
            </div>
            <div class='modal-header'>
              <h5 class="modal-title"><span id="date"></span>파일첨부</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <!-- <p class="text-muted">※ 본문에 링크할 자료 버튼을 삽입합니다.</p> -->
              <div class="col-md-12">
                <div class="alert alert-default" style="border-radius:  0; border-width:  2px;  margin-bottom: 2rem;">
                	<ul class="p-l-15 f-12" style="list-style-type: disc; color:  #666;">
                    	<li>본문에 링크할 자료 버튼을 삽입합니다.</li>
                      <li>버튼 삽입 후 버튼 이름을 수정할 시, 이름에 커서를 위치하거나 이름을 드래그한 후 마우스 오른쪽 클릭 후 링크 메뉴를 선택해주시고 본문 항목의 이름을 수정하면 됩니다.</li>
                	</ul>
              	</div>
              </div>
              <div class="col-md-12">
                <div class="m-b-0 form-radio">
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-a">
                          <i class="helper"></i>
                          <span style="color:white;width: 100px; background:#4E4E4E; margin-top:20px; padding: 5px 20px; text-align: center;">본문자료</span>
                      </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-b">
                          <i class="helper"></i>
                          <span style="background:#f9f9f9; border: 1px solid #000000; width: 130px; margin-top:5px; padding: 5px 15px; font-weight: bold; ; font-size: 12px;">관련 데이터</span>
                      </label>
                  </div>
                  <div class="radio radiofill radio-default radio-inline" style="height: 36px;">
                      <label>
                          <input type="radio" name="btnType" value="cBtn-c">
                          <i class="helper"></i>
                          <span style="color:white;width: 100px; background:#3d94f6; margin-top:10px; padding: 5px 20px; text-align: center;">바로가기</span>
                      </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-b-10">
                <div class="row">
                  <label class="col-sm-3 col-form-label">버튼이름</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="btnName">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <input type='file' class="form-control" id="fileUpload"/>
                <input type='text' class="form-control" id="urlInput" style="display:none" placeholder="URL을 입력해주세요."/>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
              <button type="button" class="btn btn-primary mobtn" id="btn-file-upload">업로드</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <input id="copyMBody" type="text" value="" style="position:absolute;top:-9999em;">
    </div>
  </div>
</div>
<!-- select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ko.js"></script>
<!-- filer -->
<!-- <link rel="stylesheet" type="text/css" href="/css/jquery.filer.css">
<script src="/js/jquery.filer.min.js"></script> -->
<!-- editor -->
<script src='/plugin/tinymce/js/tinymce/tinymce.min.js'></script>
<script src="/pages/email/js/editor.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/email/style.css">
<script src="/pages/email/js/modal.js"></script>
<script src="/pages/email/js/select2.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // ie label css
    $('.modal label').css('line-height','16px');
    $('.select2-search__field').css('line-height','16px')

    if($('#mailType').val()!=''){
      var senderArr = $('#mailSender').val().split('|');
      var param = {
        id:senderArr[0],
        text:senderArr[1]
      };
      pushEle($('.sender-select'),param);
      var mailData = JSON.parse($("#mailData").val());
      $("#M_keyword option[value='"+mailData.M_keyword+"']").attr('selected','selected');
      $("#M_mail_type option[value='"+mailData.M_mail_type+"']").attr('selected','selected');
      $("#M_subject").val(mailData.M_subject);
      $("#M_seq_number").val(mailData.M_seq_number);
    }
    $('#datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      prevText: '이전 달',
      nextText: '다음 달',
      monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      dayNames: ['일','월','화','수','목','금','토'],
      dayNamesShort: ['일','월','화','수','목','금','토'],
      dayNamesMin: ['일','월','화','수','목','금','토'],
      yearSuffix: '년',
      showMonthAfterYear: true,
      minDate: 0
    });
  });
  // 세션만료 - 로그인
  $("input[type=password]").on('keyup',function(event){
    if(event.keyCode == 13){
      $('#loginBtn').trigger('click');
    }
  });
  $("#loginBtn").on('click',function(){
    if($("input[name=username]").val() == ""){
      alert("아이디를 입력해주세요.");
    }
    else if($("input[name=password]").val() == ""){
      alert("비밀번호를 입력해주세요.");
    }
    else{
      var data = {
        username:$("input[name=username]").val(),
        password:$("input[name=password]").val()
      };
      sendLogin(data);
    }
  });
  // 세션모달 열리기 전에
  $("#login-Modal").on("show.bs.modal",function(){
    $('.select2-container').removeClass('select2-container--open');
  });
  function sendLogin(param){
    $.ajax({
      type: "POST",
      url: "/login",
      data: param,
      datatype : 'json',
      success: function(data) {
        $("#login-msg").text('');
        $('#login-Modal input').val('');
        if(data){
          $('#login-Modal').modal('hide');
        }
        else{
          $("#login-msg").text('아이디나 패스워드를 확인해주세요.');
        }
      }
    });
  }
  // 예약기능 클릭시
  $('input[name=M_type]').on('change',function(){
    $('.reserveTime').toggle();
  });
  // 메일 editor js
  // function saveImgFile(file){
  //   data = new FormData();
  //   data.append("file", file);
  //   $.ajax({
  //     type: "POST",
  //     url: "/email/send/img",
  //     data: data,
  //     cache: false,
  //     contentType : false,
  //     processData : false,
  //     success: function(data) {
  //       $('#M_body').summernote('insertImage', 'http://mail.overware.co.kr/'+data.result);
  //     }
  //   });
  // }
  // 메일 미리보기 버튼 클릭시
  $(".perivewBtn").on("click",function(){
    var param = {
      'M_keyword': $("#M_keyword option:selected").val() || '',
      'num': $("#M_seq_number").val() || '',
      'M_body': get_tinymce_html_content(),
    };
    previewAjax(param);
  });
  function previewAjax(param) {
    var win = window.open('about:blank', '_blank');
    $.ajax({
      url: '/preview_mail',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        swal("ERROR!", request.responseText, "error");
      },
      success:function(data){
        if(data){
          win.location.href = 'http://showbox.email/preview_mail';
        }
      }
    });
  }
  // 메일 저장 버튼 클릭시
  $(".sendBtn").on("click",function(){
    var param = {
      'M_seq_number': $("#M_seq_number").val(),
      'M_sender': $(".sender-select").select2("val"),
      'M_recipi': $(".recipi-select").select2("val"),
      'M_group': $('.group-select').val() || [],
      'M_keyword': $("#M_keyword option:selected").val(),
      'M_mail_type': $("#M_mail_type option:selected").val(),
      'M_body': get_tinymce_html_content(),
      'M_subject': $("#M_subject").val(),
      'M_type': $("input:radio[name=M_type]:checked").val()
    };
    var check=true;
    if(param["M_sender"] == null){
      check = requiredMessage("M_sender","보내는 사람를 선택해주세요.");
    }
    if(param["M_recipi"] == ""){
      check = requiredMessage("M_recipi","받는사람을 선택해주세요.");
    }
    if(param["M_seq_number"] == ""){
      check = requiredMessage("M_seq_number","발송차수를 입력해주세요.");
    }
    if(param["M_keyword"] == 0){
      check = requiredMessage("M_keyword","키워드를 선택해주세요.");
    }
    if(param["M_mail_type"] == 0){
      check = requiredMessage("M_mail_type","메일타입을 선택해주세요.");
    }
    if(param["M_subject"] == ""){
      check = requiredMessage("M_subject","메일제목을 입력해주세요.");
    }
    if(param["M_body"] == "" || param["M_body"] == "<p><br></p>"){
      check = requiredMessage("M_body","메일내용 입력해주세요.");
    }
    if(param["M_type"] == "1"){
      var time = $('#time_h').val()+":"+$('#time_m').val();
      var date = $('#datepicker').val();
      if(time == ":" || date == ""){
        check = requiredMessage("date","예약시간을 설정해주세요.");
      }
      else{
        var endDate = date+" "+time+":00";
        var startDateCompare = new Date();
        var endDateCompare = new Date(endDate);
        if(startDateCompare.getTime() >= endDateCompare.getTime()){
          check = requiredMessage("date","현재시간보다 작습니다.");
        }
        else{
          param['end_reserve_time'] = date+" "+time+":00";
        }
      }
    }
    if(check == false){
      return false;
    }
    swal({
      title: "본문의 내용이 확실합니까?",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true
    })
    .then(function(value) {
      if (value != null) {
        var now = $.datepicker.formatDate('yymmdd', new Date());
        // var fileListArr = $("#fileList").val().split(',');
        // var fileListStr = "";
        // var fileNameStr = "";
        // var fileDBListStr = "";
        // $.each(fileListArr, function(index, value) {
        //   if(value != "" && value != 'undefined'){
        //     fileDBListStr += value;
        //     var now = $.datepicker.formatDate('yymmdd', new Date());
        //     fileListStr += 'http://mail.overware.co.kr/uploads/files/'+now+'/'+value;
        //     fileNameStr += $.trim($('.jFiler-items-list').find('[data-value=\"'+value+'\"]').attr('title'));
        //     if(fileListArr.length-1 != index){
        //       fileListStr += '|';
        //       fileDBListStr += '|';
        //       fileNameStr += '|';
        //     }
        //   }
        // });

        // param['M_file'] = fileListStr;
        // param['M_fileName'] = fileNameStr;
        // param['M_file_d'] = fileDBListStr;
        $('span.messages').find('.error').text('');
        if($('#mailType').val()!=''){
          param.type = $('#mailType').val();
          var mailData = JSON.parse($("#mailData").val());
          param.idx = mailData.n_idx;
          param.Mid = mailData.M_id;
        }
        SendEmails(param);
      }
    });
  });
  // 메일 insert ajax
  function SendEmails(param){
    $.ajax({
      url: '/email/save',
      type: 'post',
      data : param,
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        swal("ERROR!", request.responseText, "error");
      },
      success:function(data){
        if(data.status == 'sessionTimeOut'){
          alert('세션이 만료되었습니다. 로그인 후 다시 시도해주세요.');
          $('#login-Modal').modal('show');
          return false;
        }
        if(data.status){
          location.href= '../email/manage';
        }
      }
    });
  }
  // input box 경고문
  function requiredMessage(target,msg){
    $("#"+target).siblings('.messages').children('.error').text(msg);
    return false;
  }
</script>
