<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>대시보드</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">대시보드</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-block">
              <div class="card social-widget-card m-b-5">
                <div class="card-block bg-info text-center">
                  <h1 class="text-left"><%=period.todaySendCount%></h1>
                  <h6 class="text-left m-t-10">당일발송</h6>
              	  <i class="far fa-paper-plane"></i>
                </div>
              </div>
              <table class="table matrics-table m-b-0">
                <tbody>
                  <tr>
                    <td>
                      <strong>발송성공</strong>
                    </td>
                    <td class="txt-danger"><%=period.successNfailCount.success %>
                      <% if(period.successNfailCount.success != 0){%>
                      (<%=period.successP%>%)
                      <%}%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>발송실패</strong>
                    </td>
                    <td class="txt-primary"><%=period.successNfailCount.fail %>
                      <% if(period.successNfailCount.fail != 0){%>
                      (<%=period.failP%>%)
                      <%}%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>즉시발송</strong>
                    </td>
                    <td class="txt-primary"><%=period.todayCount%></td>
                  </tr>
                  <tr>
                    <td>
                      <strong>예약발송</strong>
                    </td>
                    <td class="txt-primary"><%=period.reservationCount%></td>
                  </tr>
                  <tr>
                    <td>
                      <strong>예약발송대기</strong>
                    </td>
                    <td class="txt-success"><%=period.waitingCount%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card">
            <div class="card-header">
              <h5>최근 발송 현황 그래프</h5>
            </div>
            <div class="card-block">
              <div id="7DayGraph" style="height: 300px; position: relative;"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-cp">
                  <thead>
                    <tr>
                      <th style="min-width: 200px;">작성일</th>
                      <th style="min-width: 70px;">키워드</th>
                      <th style="min-width: 80px;">발송차수</th>
                      <th style="min-width: 400px;">제목</th>
                      <th style="min-width: 66px;">발송건</th>
                      <th style="min-width: 60px;">성공</th>
                      <th style="min-width: 60px;">실패</th>
                      <th style="min-width: 94px;">발송타입</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i=0; i < list.length; i++) {%>
                    <tr>
                      <th><%= list[i].M_regdate %></th>
                      <td><div class="kwd_nobr"><%= list[i].M_keyword %></div></td>
                      <td><div class="num_nobr"><%= ((list[i].M_invitation == '0')?(list[i].M_seq_number+'차'):'-') %></div></td>
                      <td>
                        <a href="http://showbox.email/preview?keyword=<%= list[i].M_keyword_idx %>&idx=<%= list[i].n_idx %>" target="_blank">
                          <div class="title_nobr"><%= list[i].M_subject %></div>
                        </a>
                      </td>
                      <td><%= list[i].sendCount %></td>
                      <td class="success" data-idx="<%= list[i].n_idx %>"><%= list[i].success %></td>
                      <td class="fail" data-idx="<%= list[i].n_idx %>"><%= list[i].fail %></td>
                      <td>
                        <%=(list[i].M_type == '0') ? '즉시' : '예약'%>
                        <% if((new Date().getTime() < new Date(list[i].M_send).getTime()) && parseInt(list[i].success) == 0 && parseInt(list[i].fail) == 0){ %>
                        <label class="badge badge-danger m-b-0">대기</label>
                        <%}%>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='success-Modal' role='dialog'>
        <div class='modal-dialog  modal-lg modal-lg-1' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">성공 상세보기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="modal-loader" id="loader_s">
                <div class="loader-block">
                  <svg id="loader2" viewBox="0 0 100 100">
                    <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                  </svg>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr class="text-capitalize">
                      <th></th>
                      <th>NO</th>
                      <th>이메일</th>
                      <th>회사</th>
                      <th>이름</th>
                      <th>개봉시각</th>
                    </tr>
                  </thead>
                  <tbody id="success-list" class="text-success">
                  </tbody>
                </table>
              </div>
              <!-- <ul>
                <li><i class="fas fa-exclamation-triangle"></i></li>
              </ul> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='error-Modal' role='dialog'>
        <div class='modal-dialog modal-lg modal-lg-1' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">실패 상세보기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="modal-loader" id="loader_f">
                <div class="loader-block">
                  <svg id="loader2" viewBox="0 0 100 100">
                    <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                  </svg>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr class="text-capitalize">
                      <th></th>
                      <th>코드</th>
                      <th>이메일</th>
                      <th>회사</th>
                      <th>이름</th>
                      <th>오류</th>
                      <!-- <span class="text-muted smtpMsg"><i class="fas fa-question-circle"></i></span> -->
                    </tr>
                  </thead>
                  <tbody id="error-list" class="text-danger">
                  </tbody>
                </table>
              </div>
              <!-- <ul>
                <li><i class="fas fa-exclamation-triangle"></i></li>
              </ul> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/error.js"></script>
<!-- morris -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<style type="text/css">
.modal-loader{
  position:  absolute;
  margin: auto 0;
  width:  100%;
  padding-top: 17%;
}
#loader_p,#loader_s,#loader_f{
  display: none;
}
.pcoded[theme-layout=vertical][vertical-layout=wide] .pcoded-container{
  padding-bottom: 0px;
}
.row dl{
  font-size: 14px;
}
#error-Modal .modal-body,
#success-Modal .modal-body{
  padding: 0;
}
.tab-content{
  overflow: auto;
  max-height: 457px;
}
.table-cp td,.table-cp th{
  text-align: center;
}
.table.table-sm td, .table.table-sm th {
  padding: .3rem;
}
/* mail preview css start */
#mailBody{
  overflow: auto;
}
#mailBody{
  overflow: auto;
  padding: 0;
  max-height: 700px;
}
#mailBody a:hover {
  color: #3399cc;
  text-decoration: none;
}
#mailBody table{
  border-collapse: separate;
}
#mailBody td,th{
  white-space: inherit;
  white-space: pre-line;
}
.modal-lg-1 {
    max-width: 1016px;
}
/* mail preview css end */
.title_nobr,.kwd_nobr,.error_nobr,.num_nobr{
  font-size: 15px;
  padding-left: 3px;
  margin: 0px auto;
  text-overflow: ellipsis;
  width: 500px;
  overflow: hidden;
}
.title_nobr:hover,
.fail:hover,
.success:hover{
  cursor:pointer;
  font-weight: bold;
}
.num_nobr{
  width: 58px;
}
.kwd_nobr{
  width: 100px;
}
.error_nobr{
  width: 250px;
  margin: 0px;
}
.error_nobr_more{
  white-space: pre-line;
}
.widthMin{
  min-width: 40px;
}
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
$(window).resize(function(){
  window.areaChart.redraw();
});

$(document).ready(function(){
  areaChart();
});
// 성공 클릭시
$(document).on('click','.success',function(){
  $('#success-list').empty();
  $('#success-Modal').modal('show');
  if($(this).text() == '0'){
    return false;
  }
  $('#loader_s').show();
  $.ajax({
    url: '/period/result',
    type: 'post',
    data: {
      M_result: 'success',
      arr : [$(this).data('idx'),13]
    },
    datatype : 'json',
    error:function(request,status,error){
      console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
    },
    success:function(data){
      data.result.forEach(function(ele,idx){
        var html = '<tr><td><i class="fas fa-check"></i></td>'+
          '<td>'+(idx+1)+'</td>'+
          '<td>'+ele.EMTOADDRESS+'</td>'+
          '<td>'+ele.M_ptitle+'</td>'+
          '<td>'+ele.EMTONAME+'</td>'+
          '<td>'+((ele.OPENTIME != null) ? ele.OPENTIME:'')+'</td>'+
        '</tr>';
        $('#success-list').append(html);
      });
      $('#loader_s').fadeOut(500);
    }
  });
});
// 실패 클릭시
// $(document).on('click','.smtpMsg',function(){
//   $('#smtp-Modal').modal('show');
// });
$(document).on('click','.error_nobr',function(){
  $(this).toggleClass('error_nobr_more');
});
$(document).on('click','.fail',function(){
  $('#error-list').empty();
  $('#error-Modal').modal('show');
  if($(this).text() == '0'){
    return false;
  }
  $('#loader_f').show();
  $.ajax({
    url: '/period/result',
    type: 'post',
    data: {
      M_result: 'fail',
      arr : [$(this).data('idx'),13]
    },
    datatype : 'json',
    error:function(request,status,error){
      console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
    },
    success:function(data){
      data.result.forEach(function(ele,idx){
        // var o_msg = ele.M_result_msg.replace('send mail Error: ','');
        // var k_msg = settingErrorMsg(o_msg);
        var code = ele.FINALRESULT;
        var k_msg = '';
        if(code == null && ele.RSLTMSG != 'ER'){
          var errMsgArr = ele.RSLTMSG.split(']');
          code = errMsgArr[0].replace('[','');
          k_msg = errMsgArr[1];
          if(k_msg.indexOf('Master Content Not Found') != -1){
            k_msg = '지원되지 않는 미디어 유형';
          }
        }
        else{
          k_msg = settingErrorMsg(code);
        }
        var html = '<tr><td><i class="fas fa-exclamation-triangle"></i></td>'+
          '<td class="widthMin">'+code+'</td>'+'<td>'+ele.EMTOADDRESS;
        if(code != '42' && code != '43' && code != '44' && code != '45' && ele.SENDRESULT != 'ER'){
          html+='<label class="label label-warning">재발송가능</label>'
        }
        html+='</td>'+'<td>'+ele.M_ptitle+'</td>'+
          '<td>'+ele.EMTONAME+'</td>'+
          '<td><div class="error_nobr">'+k_msg+'</div></td>'+
        '</tr>';
        $('#error-list').append(html);
      });
      $('#loader_f').fadeOut(500);
    }
  });
});

//date 포멧
function dateToYYYYMMDD(date){
  function pad(num) {
    num = num + '';
    return num.length < 2 ? '0' + num : num;
  }
  return date.getFullYear() + '-' + pad(date.getMonth()+1) + '-' + pad(date.getDate());
}
// -1 date
function date_sub(sDate, nDays) {
    var yy = parseInt(sDate.substr(0, 4), 10);
    var mm = parseInt(sDate.substr(5, 2), 10);
    var dd = parseInt(sDate.substr(8), 10);

    d = new Date(yy, mm - 1, dd - nDays);
    yy = d.getFullYear();

    mm = d.getMonth() + 1; mm = (mm < 10) ? '0' + mm : mm;

    dd = d.getDate(); dd = (dd < 10) ? '0' + dd : dd;
    return '' + yy + '-' +  mm  + '-' + dd;
}
function areaChart(){
  $.ajax({
    url: '/7DayGraph',
    type: 'post',
    datatype : 'json',
    error:function(request,status,error){
      console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
    },
    success:function(data){
      console.log(data);
      var arr = [];
      var date = new Date();
      date.setDate(date.getDate()+2);
      for(var i=0; i<8 ; i++){
        arr.push({'date':date_sub(dateToYYYYMMDD(date), 1),'success':'0','fail':'0'});
        date.setDate(date.getDate()-1);
      }
      console.log(arr);

      if(data){
          data.forEach(function(item,idx){
            for(var i=0; i<8 ; i++){
              if(arr[i]['date'] == item.date){
                arr[i]['success'] = item.success;
                arr[i]['fail'] = item.fail;
              }
            }
          });
      }
      window.areaChart = Morris.Line({
        element: '7DayGraph',
        data: arr,
        lineColors: ['#1abc9c', '#df6161'],
        xkey: 'date',
        ykeys: ['success', 'fail'],
        labels: ['성공', '실패'],
        resize: true,
        xLabels:'day',
        hideHover: 'auto'
      });
    }
  });
}

</script>
