<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>선택기사 리스트</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">기사선택</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row" id="listTable">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <select name="select" class="col-md-1 form-control form-control-default m-b-10 m-r-5 p-r-5 f-left" id="selectKeyword">
                <option>키워드</option>
                <%for(var i=0; i < klist.length; i++) {%>
                  <option value='<%=klist[i].M_keyword%>'><%=klist[i].M_keyword%></option>
                <%}%>
              </select>
              <div class="col-md-3 p-r-0 p-l-0 f-right">
                <div id="reportrange" class="form-control form-control-default">
                  <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
                  <span></span>
                  <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
                </div>
              </div>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="5%">NO</th>
                      <th width="10%" style="min-width: 80px;">등록날짜</th>
                      <th width="20%">제목</th>
                      <th width="5%" style="min-width: 80px;">언론사</th>
                      <th width="5%" style="min-width: 80px;">기자</th>
                      <th width="5%" style="min-width: 80px;">키워드</th>
                      <th width="5%" style="min-width: 50px;">분류글</th>
                      <th width="20%" style="min-width: 180px;">썸네일</th>
                      <th width="10%" style="min-width: 140px;">대분류</th>
                      <th width="10%" style="min-width: 120px;">대표기사</th>
                      <th width="10%" style="min-width: 120px;">세부기사</th>
                      <th width="10%" style="min-width: 80px;">관리</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      var limit = 10;
                      if(currentPage > 0){
                        (currentPage - 1) * limit;
                      }
                      for(var i=0; i < list.length; i++) {
                    %>
                    <tr>
                      <input type="hidden" id="idx" value="<%=list[i].media_idx%>" />
                      <th><%= listCount - i - offset %></th>
                      <td><%= list[i].createDate %></td>
                      <td>
                        <a href="<%= list[i].url %>" target="_blank" title="<%= list[i].media_title %>">
                          <div class="title_nobr"><%= list[i].media_title %></div>
                        </a>
                      </td>
                      <td><div class="nobr"><%= list[i].media_name %></div></td>
                      <td>
                        <div class="nobr">
                          <% if(list[i].reporter_name == null){ %>
                            <i class="fas fa-minus"></i>
                          <%}else{%>
                            <%=list[i].reporter_name%>
                          <%}%>
                        </div>
                      </td>
                      <td><div class="nobr"><%= list[i].keyword %></div></td>
                      <td>
                        <div class="nobr">
                          <% if(list[i].textType == null){ %>
                            <i class="fas fa-minus"></i>
                          <%}else{%>
                            <%=list[i].textType%>
                          <%}%>
                        </div>
                      </td>
                      <td>
                        <input type="text" placeholder="이미지주소(URL)" id="thumbnail" value="<%=list[i].thumbnail%>" class="form-control selectText">
                      </td>
                      <td>
                        <!-- <input type="number" min="1" max="8" id="newsType" value="<%=list[i].news_type%>" class="form-control"> -->
                        <select class="form-control form-control-default p-l-5 select-news" id="newsType">
                          <option value="1" <%=(list[i].news_type == '1') ? 'selected' : ''%>>쇼박스영화</option>
                          <option value="2" <%=(list[i].news_type == '2') ? 'selected' : ''%>>경쟁영화</option>
                          <option value="3" <%=(list[i].news_type == '3') ? 'selected' : ''%>>캐스팅</option>
                          <option value="4" <%=(list[i].news_type == '4') ? 'selected' : ''%>>박스오피스</option>
                          <option value="5" <%=(list[i].news_type == '5') ? 'selected' : ''%>>쇼박스기업뉴스</option>
                          <option value="6" <%=(list[i].news_type == '6') ? 'selected' : ''%>>영화일반</option>
                          <option value="7" <%=(list[i].news_type == '7') ? 'selected' : ''%>>보도국</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" placeholder="대표기사" id="news_title" value="<%=list[i].media_idx%>" class="form-control selectText">
                      </td>
                      <td>
                        <input type="text" placeholder="세부기사" id="news_detail" value="<%=list[i].news_detail%>" class="form-control selectText">
                      </td>
                      <td>
                        <button class="btn btn-sm btn-danger btn-delete"><i class="far fa-trash-alt"></i></button>
                        <button class="btn btn-sm btn-primary btn-edit"><i class="far fa-edit"></i></button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <button id="newsAddBtn" class="btn btn-warning alert-check p-r-5 p-l-5 m-l-15 m-b-5  f-left m-t-5"><i class="fas fa-file-alt"></i>기사입력</button>
                      </td>
                    <%
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                      <td colspan="8">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(currentPage / pageSize);
                            if(currentPage % pageSize == 0){
                              pRCnt = parseInt(currentPage / pageSize) - 1;
                            }
                            if(currentPage > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(currentPage == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    <% } %>
                    </tr>
                  </tfoot>
                </table>
                <input type="hidden" id="page" value="<%=page%>"/>
                <input type="hidden" id="sDate" value="<%=sDate%>"/>
                <input type="hidden" id="eDate" value="<%=eDate%>"/>
                <input type="hidden" id="keyword" value="<%=keyword%>"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class="modal fade" id="news-Modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">기사입력</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">작성일</label>
                <div class="col-sm-5">
                  <input type="text" id="m_writeDate" placeholder="YYYY-MM-DD" class="form-control">
                </div>
                <div class="col-sm-5">
                  <input type="text" id="m_writeDateTime" placeholder="HH:MM:SS" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">키워드</label>
                <div class="col-sm-10">
                  <select class="form-control form-control-default" id="m_keyword">
                    <option>키워드</option>
                    <%for(var i=0; i < klist.length; i++) {%>
                      <option value='<%=klist[i].M_keyword%>'><%=klist[i].M_keyword%></option>
                      <%}%>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">분류</label>
                <div class="col-sm-10">
                  <select class="form-control form-control-default" id="m_text_type">
                    <option value="좋은글">좋은글</option>
                    <option value="나쁜글">나쁜글</option>
                    <option value="관심글">관심글</option>
                    <option value="기타">기타</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">제목</label>
                <div class="col-sm-10">
                  <input type="text" id="m_media_title" placeholder="제목" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">내용</label>
                <div class="col-sm-10">
                  <textarea rows="5" cols="5" class="form-control" placeholder="내용" id="m_media_content"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">언론사</label>
                <div class="col-sm-10">
                  <input type="text" id="m_media_name" placeholder="언론사" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">기자</label>
                <div class="col-sm-10">
                  <input type="text" id="m_reporter_name" placeholder="기자" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">URL</label>
                <div class="col-sm-10">
                  <input type="text" id="m_url" placeholder="URL" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">썸네일</label>
                <div class="col-sm-10">
                  <input type="text" id="m_thumbnail" placeholder="이미지주소(URL)" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">기사분류</label>
                <div class="col-sm-10">
                  <select class="form-control form-control-default" id="m_news_type">
                    <option value="1">쇼박스 영화</option>
                    <option value="2">경쟁 영화</option>
                    <option value="3">캐스팅</option>
                    <option value="4">박스오피스</option>
                    <option value="5">쇼박스 기업 뉴스</option>
                    <option value="6">영화 일반</option>
                    <option value="7">보도국</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">세부기사</label>
                <div class="col-sm-10">
                  <input type="text" id="m_news_detail" placeholder="세부기사" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary waves-effect waves-light" id="submit">등록</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<style type="text/css">
  .btn-sm.btn-edit{
    padding-right: 10px;
  }
  .table td, .table th {
    text-align: center;
  }
  .title_nobr,.nobr{
    font-size: 15px;
    padding-left: 3px;
    text-overflow: ellipsis;
    width: 292px;
    overflow: hidden;
  }
  .nobr{
    width: 66px;
  }
  .nobr>i{
    font-size: 10px;
  }
  .select-news{
    font-size: 12px;
    max-height: 35px;
    line-height: 16px;
  }
  .title_nobr:hover{
    cursor:pointer;
    font-weight: bold;
  }
  .border-checkbox-section .border-checkbox-group .border-checkbox-label{
    margin: 0px;
  }
  #listTable .table thead th{
    vertical-align: middle;
    text-align: center;
  }
  #addBtn{
    font-weight: bold;
    color: white;
    height: 36px;
    background-color: #a6a6a6;
    border-color: #a6a6a6;
  }
  #newsAddBtn{
    font-weight: bold;
  }
  /* daterangepicker */
  .card .card-header span:not(.input-group-addon) {
    display: inline;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="/js/error.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- sweetalert -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- Bootstrap date-time-picker js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.22.2/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  // data input hidden values
  var sDateValue = $('#sDate').val();
  var eDateValue = $('#eDate').val();
  var keywordValue = $('#keyword').val();
  $(document).ready(function(){
    if(keywordValue != ''){
      $("#selectKeyword option[value='"+keywordValue+"']").attr('selected','selected');
    }
    $('#reportrange').daterangepicker(optionSet1,cb);

    if(sDateValue == '' && eDateValue == ''){
      $('#reportrange span').html(moment().format('YYYY.MM.DD') + ' - ' + moment().format('YYYY.MM.DD'));
    }
    else{
      $('#reportrange span').html(moment(new Date(sDateValue)).format('YYYY.MM.DD') + ' - ' + moment(new Date(eDateValue+' 23:59:59')).format('YYYY.MM.DD'));
    }
  });
  // 대표기사,썸네일,세부기사 클릭시 텍스트 전체 선택
  $(document).on("click",".selectText", function(){
    $(this).select();
  });
  // 기사입력 클릭시
  $(document).on("click","#newsAddBtn",function(){
    // modal 초기화
    $('#m_keyword').find('option:first').prop('selected', 'selected');
    $('#m_text_type').find('option:first').prop('selected', 'selected');
    $('#m_news_type').find('option:first').prop('selected', 'selected');
    $('#m_media_content').val('');
    $('#news-Modal input').val('');

    $("#news-Modal").modal('show');
  });
  // 기사입력 submit 시
  $('#submit').on("click",function(){
    var param = {
      writeDate:$('#m_writeDate').val()+' '+$('#m_writeDateTime').val(),
      media_title:$('#m_media_title').val(),
      media_content:$('#m_media_content').val(),
      title_key:$('#m_keyword option:selected').val(),
      keyword:$('#m_keyword option:selected').val(),
      url:$('#m_url').val(),
      textType:$('#m_text_type').val(),
      media_name:$('#m_media_name').val()
    }
    // 작성일
    var datetime_pattern = /^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1]) (0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$/;
    if(!datetime_pattern.test(param.writeDate)){
      alert('작성일을 다시 입력해주세요');
    }
    // 키워드
    else if(param.keyword == '키워드'){
      alert('키워드를 선택해주세요');
    }
    // 제목
    else if(param.media_title == ''){
      alert('제목을 입력해주세요');
    }
    // 내용
    else if(param.media_content == ''){
      alert('내용을 입력해주세요');
    }
    // 언론사
    else if(param.media_name == ''){
      alert('언론사를 입력해주세요');
    }
    // url
    else if(param.url == ''){
      alert('URL을 입력해주세요');
    }
    else{
      var reporter_name = $('#m_reporter_name').val();
      var thumbnail = $('#m_thumbnail').val();
      var news_type = $('#m_news_type option:selected').val();
      var news_detail = $('#m_news_detail').val();
      if(reporter_name != ''){
        param['reporter_name'] = reporter_name;
      }
      if(thumbnail != ''){
        param['thumbnail'] = thumbnail;
      }
      if(news_type != ''){
        param['news_type'] = news_type;
      }
      if(news_detail != ''){
        param['news_detail'] = news_detail;
      }

      swal({
        title: "등록 하시겠습니까?",
        icon: "warning",
        buttons: ["취소", true],
        dangerMode: true,
      }).then(function(value) {
        if (value != null) {
          $.ajax({
            type: "POST",
            url: "/news/list/delete",
            data: param,
            error:function(request,status,error){
              console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
              swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
            },
            success:function(data){
              if(data.status){
                swal("SUCCESS!", '기사가 등록되었습니다.', "success")
                .then(function(value) {
                  reloadPage();
                  $("#news-Modal").modal('hide');
                });
              }else{
                swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
              }
            }
          });
        }
      });
    }
  });
  // 키워드 선택시
  $('#selectKeyword').on('change',function(){
    var param = {
      page : 1
    };
    var optionVal = $("#selectKeyword option:selected").val();
    if(optionVal != '키워드'){
      param.keyword=optionVal;
      $('#keyword').val(optionVal);
    }
    else{
      $('#keyword').val('');
    }
    // data input hidden values
    var sDateValue = $('#sDate').val();
    var eDateValue = $('#eDate').val();
    if(sDateValue != '' && eDateValue != ''){
      param.sDate = sDateValue;
      param.eDate = eDateValue;
    }
    ajaxGetPageList(param,0);
  });
  // 삭제 클릭시
  $(document).on('click','.btn-delete',function(){
    var trEle = $(this).parents('tr');
    swal({
      title: "삭제 하시겠습니까?",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true,
    }).then(function(value) {
      if (value != null) {
        console.log(trEle.find('#idx').val())
        $.ajax({
          type: "POST",
          url: "/news/list/delete",
          data: {'idx' : trEle.find('#idx').val()},
          error:function(request,status,error){
            console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
            swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
          },
          success:function(data){
            if(data.status){
              swal("SUCCESS!", '삭제 되었습니다.', "success")
              .then(function(value) {
                reloadPage();
              });
            }else{
              swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
            }
          }
        });
      }
    });
  });
  // 수정 클릭시
  $(document).on('click','.btn-edit',function(){
    var trEle = $(this).parents('tr');
    swal({
      title: "수정 하시겠습니까?",
      text: "썸네일과 기자분류가 입력하신 정보로 수정됩니다.",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true,
    }).then(function(value) {
      if (value != null) {
        $.ajax({
          type: "POST",
          url: "/news/list/update",
          data: {
            'thumbnail' : trEle.find('#thumbnail').val(),
            'news_type' : trEle.find('#newsType').val(),
            'news_detail' : trEle.find('#news_detail').val(),
            'idx' : trEle.find('#idx').val()
          },
          error:function(request,status,error){
            console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
            swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
          },
          success:function(data){
            if(data.status){
              swal("SUCCESS!", '수정 되었습니다.', "success")
              .then(function(value) {
                reloadPage();
              });
            }else{
              swal("ERROR!", '새로고침 후 다시 시도해주세요.', "error");
            }
          }
        });
      }
    });
  });
  //페이지 이동
  $(document).on('click','.page-link',function(){
    var num = Number($(this).text()) || Number($(this).data().num);
    var param = {
      page : Number($(this).data().value)
    };
    // data input hidden values
    var sDateValue = $('#sDate').val();
    var eDateValue = $('#eDate').val();
    var keywordValue = $('#keyword').val();
    if(sDateValue != '' && eDateValue != '' ){
      param.sDate = moment(sDateValue).format('YYYY-MM-DD');
      param.eDate = moment(eDateValue).format('YYYY-MM-DD');
    }
    if(keywordValue != ''){
      param.keyword = keywordValue;
    }
    ajaxGetPageList(param,num);
  });
  function ajaxGetPageList(param){
    console.log('ajaxGetPageList:',param);
    $.ajax({
      url: '/news/list/getNextPage',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로고침 후 다시 시도해주세요.');
      },
      success: function(data){
        if(data.status != true){
          alert('새로고침 후 다시 시도해주세요.');
          return false;
        }
        $('#listTable tbody').eq(0).empty();

        console.log(data);
        $("#page").val(data.result.currentPage);
        $("#sDate").val(param.sDate);
        $("#eDate").val(param.eDate);
        $("#keyword").val(param.keyword);

        data.result.list.forEach(function(item,idx){
          var numIdx = Math.ceil(data.result.listCount-(data.result.offset+idx)).toString();
          var html = '<tr>\
          <input type="hidden" id="idx" value="'+item.media_idx+'" />\
          <th>'+numIdx+'</th>\
          <td>'+item.createDate+'</td>\
          <td>\
            <a href="'+item.url+'" target="_blank" title="'+item.media_title+'">\
              <div class="title_nobr">'+item.media_title+'</div>\
            </a>\
          </td>\
          <td><div class="nobr">'+item.media_name+'</div></td>';
          html+='<td><div class="nobr">'+((item.reporter_name == null) ? '<i class="fas fa-minus"></i>' : item.reporter_name)+'</div></td>\
          <td><div class="nobr">'+item.keyword+'</div></td>\
          <td><div class="nobr">'+((item.textType == null) ? '<i class="fas fa-minus"></i>' : item.textType)+'</div></td>\
          <td><input type="text" placeholder="이미지주소(URL)" id="thumbnail" value=\"'+((item.thumbnail == null) ? '' : item.thumbnail)+'\" class="form-control selectText"></td>';
          html+='<td><select class="form-control form-control-default p-l-5 select-news" id="newsType">\
            <option value="1" '+((item.news_type == '1') ? 'selected' : '')+'>쇼박스영화</option>\
            <option value="2" '+((item.news_type == '2') ? 'selected' : '')+'>경쟁영화</option>\
            <option value="3" '+((item.news_type == '3') ? 'selected' : '')+'>캐스팅</option>\
            <option value="4" '+((item.news_type == '4') ? 'selected' : '')+'>박스오피스</option>\
            <option value="5" '+((item.news_type == '5') ? 'selected' : '')+'>쇼박스기업뉴스</option>\
            <option value="6" '+((item.news_type == '6') ? 'selected' : '')+'>영화일반</option>\
            <option value="7" '+((item.news_type == '7') ? 'selected' : '')+'>보도국</option>\
          </select></td>';
          html+='<td><input type="text" placeholder="대표기사" id="news_title" value="'+item.media_idx+'" class="form-control selectText"></td><td><input type="text" placeholder="세부기사" id="news_detail" value="'+((item.news_detail == null) ? '' : item.news_detail)+'" class="form-control selectText"></td>\
          <td><button class="btn btn-sm btn-danger btn-delete"><i class="far fa-trash-alt"></i></button>&nbsp;<button class="btn btn-sm btn-primary btn-edit"><i class="far fa-edit"></i></button></td>';
          $('#listTable tbody').eq(0).append(html);
        });
        var limit = 10;
        var pageCount = Math.ceil(data.result.listCount/limit);
        $('#listTable tfoot').eq(0).empty();
        var html = '<tr><td colspan="4"><button id="newsAddBtn" class="btn btn-warning alert-check p-r-5 p-l-5 m-l-15 m-b-5  f-left m-t-5"><i class="fas fa-file-alt"></i>기사입력</button></td>'
        if(pageCount > 1) {
          html += '<td colspan="8"><ul class="pagination float-right">';
          var pageSize = 5;
          var pRCnt = parseInt(data.result.currentPage / pageSize);
          if(data.result.currentPage % pageSize == 0){
            pRCnt = parseInt(data.result.currentPage / pageSize) - 1;
          }
          if(data.result.currentPage > 5) {
            html += '<li class="page-item"><a class="page-link" data-value="1" aria-label="Previous">\
                <i class="ti-angle-double-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>\
              <li class="page-item"><a class="page-link" data-value=\"'+(pRCnt * pageSize)+'"\ aria-label="Previous">\
                <i class="ti-angle-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>';
          }

          for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){
            var active = (data.result.currentPage == index) ? "active" : "";
            html += '<li class=\"'+active+' page-item">\
              <a class="page-link" data-value=\"'+index+'"\ >'+index+'</a></li>'

            if(index == pageCount) {
              break;
            }
          }
          if((pRCnt + 1) * pageSize < pageCount) {
            html += '<li class="page-item">\
                  <a class="page-link" data-value=\"'+((pRCnt + 1)*pageSize+1)+'"\ aria-label="Next">\
                    <i class="ti-angle-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>\
                  <li class="page-item">\
                  <a class="page-link" data-value=\"'+pageCount+'"\ aria-label="Next">\
                    <i class="ti-angle-double-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>';
          }
          html += '</ul></td>';
        }
        html += '</tr>';
        $('#listTable tfoot').eq(0).append(html);
      }
    });
  }
  function reloadPage(){
    console.log('reloadPage');
    var pageValue = ($("#page").val() == '') ? 1 : parseInt($("#page").val());
    var param = {
      page : pageValue
    };
    var sDateValue = $('#sDate').val();
    var eDateValue = $('#eDate').val();
    var keywordValue = $('#keyword').val();
    if(sDateValue != '' && eDateValue != '' ){
      param.sDate = moment(sDateValue).format('YYYY-MM-DD');
      param.eDate = moment(eDateValue).format('YYYY-MM-DD');
    }
    if(keywordValue != ''){
      param.keyword = keywordValue;
    }
    ajaxGetPageList(param);
  }
  // 모달 달력
  $('#m_writeDate').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    locale: {
      format: 'YYYY-MM-DD',
      "customRangeLabel": "Custom",
      "daysOfWeek": [
          "일", "월", "화", "수", "목", "금", "토"
      ],
      "monthNames": [
        "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"
      ],
    }
  });
  //날짜 선택 시
  function searchDate(){
    var dateArr = $("#reportrange span").text().split(' - ');
    var start = moment(new Date(dateArr[0]));
    var end = moment(new Date(dateArr[1]+' 23:59:59'));
    var param = {
      page : 1,
      sDate : start.format('YYYY-MM-DD'),
      eDate : end.format('YYYY-MM-DD')
    };
    $('#sDate').val(param.sDate);
    $('#eDate').val(param.eDate);

    // data input hidden values
    var keywordValue = $('#keyword').val();
    if(keywordValue != ''){
      param.keyword = keywordValue;
    }
    ajaxGetPageList(param);
  }
  $(document).on('click','.applyBtn',searchDate);
  //날짜 설정
  var cb = function(start, end, label) {
    console.log('FUNC: cb',start.toISOString(), end.toISOString(), label);
    $('#reportrange span').html(moment(new Date(start.toISOString())).format('YYYY.MM.DD') + ' - ' + moment(new Date(end.toISOString())).format('YYYY.MM.DD'));
    searchDate();
  }
  var ranges = {
    '당일': [moment(), moment()],
    '전일': [moment().subtract(1, 'days'), moment()],
    '최근 7일': [moment().subtract(6, 'days'), moment()],
    '최근 30일': [moment().subtract(29, 'days'), moment()]
  };
  var optionSet1 = {
    startDate: (sDateValue != '') ? moment(new Date(sDateValue)) : moment(),
    endDate:  (eDateValue != '') ? moment(new Date(eDateValue+' 23:59:59')) : moment(),
    dateLimit: {
      days: 60
    },
    showDropdowns: true,
    showRangeInputsOnCustomRangeOnly: false,
    ranges: ranges,
    opens: 'left',
    buttonClasses: ['btn'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'YYYY.MM.DD',
    separator: ' to ',
    locale: {
      applyLabel: '확인',
      cancelLabel: '취소',
      customRangeLabel: '직접선택',
      daysOfWeek: ['일', '월', '화', '수', '목', '금', '토'],
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      firstDay: 1
    }
  };
</script>
