<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>뉴스클리핑</title>
  <!-- jqeury ui.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="/pages/email/style3.css">
</head>

<body>
  <input type="hidden" id="idx" class="form-control" value="<%=idx%>"/>
  <input type="hidden" id="status" class="form-control" value="<%=status%>"/>
  <input type="hidden" id="lastArr" class="form-control" value="<%=last%>"/>
  <input type="hidden" id="lastIdxArr" class="form-control" value="<%=lastIdx%>"/>
  <%- view %>
  <!-- Required Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- custom -->
  <script src="/pages/email/js/movie.js"></script>
  <script>
    $(document).ready(function() {
      if($('#status').val() == 'false'){
        alert('해당 메일이 없습니다.');
      }
      else{
        var html = '<select id="date-select" style="border: 1px solid #e4e4e4;float:  right;display:  inline-block;font-family: Gulim;font-size: 11px;padding:  4px;padding-right: 15px;margin-right: 28px;margin-top: 7px;">';
        $('#info').append(html);
        var idxArr = $('#lastIdxArr').val().split(',');
        $.each($('#lastArr').val().split(','), function(index, value) {
          html = '<option value="'+idxArr[index]+'"';
          if(idxArr[index] == $('#idx').val()){
            html+=' selected';
          }
          html += '>'+value.replace(/[-]/gi,'.')+' ('+getInputDayLabel(value)+')</option>';
          $('#date-select').append(html);
        });
        html = '</select>';
        $('#info').append(html);
        $('#date-span').remove();
      }
    });
    $(document).on('change','#date-select',function(){
      location.href = 'http://showbox.email/preview/newsclipping?idx='+$('#date-select option:selected').val();
    });
    // 요일
    function getInputDayLabel(d) {
      var week = new Array('일', '월', '화', '수', '목', '금', '토');
      var today = new Date(d).getDay();
      var todayLabel = week[today];
      return todayLabel;
    }
  </script>
</body>
</html>
