<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>발송현황</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">발송현황</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row" id="listTable">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="col-md-3 p-r-0 p-l-0 f-right reportrange">
                <div id="reportrange" class="form-control form-control-default">
                  <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
                  <span></span>
                  <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
                </div>
              </div>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="1%">NO</th>
                      <th width="10%" style="min-width: 80px;">작성일</th>
                      <th width="20%" style="min-width:58px">제목</th>
                      <th width="5%" style="min-width:81px">발송건수</th>
                      <th width="5%" style="min-width:58px">성공</th>
                      <th width="5%" style="min-width:58px">실패</th>
                      <th width="5%" style="min-width:81px">발송타입</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      var limit = 10;
                      if(currentPage > 0){
                        (currentPage - 1) * limit;
                      }
                      for(var i=0; i < list.length; i++) {
                    %>
                    <tr>
                      <th><%= listCount - i - offset %></th>
                      <td><%= list[i].GENDATE %></td>
                      <td>
                        <a href="http://showbox.email/preview/newsclipping?idx=<%= list[i].MSGID %>" target="_blank">
                          <div class="title_nobr"><%= list[i].M_subject %></div>
                        </a>
                      </td>
                      <td><span class="total"><%= parseInt(list[i].success) + parseInt(list[i].fail) %></span></td>
                      <td class="success" data-idx="<%= list[i].MSGID %>"><%= list[i].success %></td>
                      <td class="fail" data-idx="<%= list[i].MSGID %>"><%= list[i].fail %></td>
                      <td>
                        <%=(list[i].M_type == '0') ? '즉시' : '예약'%>
                        <% if((new Date().getTime() < new Date(list[i].SENDTIME).getTime())){ %>
                        <label class="badge badge-danger m-b-0">대기</label>
                        <%}%>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <%
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                    <tr>
                      <td colspan="7">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(currentPage / pageSize);
                            if(currentPage % pageSize == 0){
                              pRCnt = parseInt(currentPage / pageSize) - 1;
                            }
                            if(currentPage > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(currentPage == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="sDate" value="<%=sDate%>"/>
      <input type="hidden" id="eDate" value="<%=eDate%>"/>
      <!-- Modal start-->
      <div class='modal fade' id='success-Modal' role='dialog'>
        <div class='modal-dialog  modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">성공 상세보기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr class="text-capitalize">
                      <th></th>
                      <th>NO</th>
                      <th>이메일</th>
                      <th>회사</th>
                      <th>이름</th>
                      <th>개봉시각</th>
                    </tr>
                  </thead>
                  <tbody id="success-list" class="text-success">
                  </tbody>
                </table>
              </div>
              <!-- <ul>
                <li><i class="fas fa-exclamation-triangle"></i></li>
              </ul> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='error-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">실패 상세보기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr class="text-capitalize">
                      <th></th>
                      <th>코드</th>
                      <th>이메일</th>
                      <th>회사</th>
                      <th>이름</th>
                      <th>오류</th>
                      <!-- <span class="text-muted smtpMsg"><i class="fas fa-question-circle"></i></span> -->
                    </tr>
                  </thead>
                  <tbody id="error-list" class="text-danger">
                  </tbody>
                </table>
              </div>
              <!-- <ul>
                <li><i class="fas fa-exclamation-triangle"></i></li>
              </ul> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<style type="text/css">
  .reportrange{
    min-width: 207px;
  }
  .table.table-sm td, .table.table-sm th {
    padding: .3rem;
  }
  .card .card-header span:not(.input-group-addon){
    display: inline;
  }
  .table td, .table th{
    vertical-align: middle;
    text-align: center;
  }
  .btn i {
    margin-right: 0px;
  }
  .title_nobr,.kwd_nobr,.error_nobr,.num_nobr{
    font-size: 15px;
    margin: 0px auto;
    padding-left: 3px;
    text-overflow: ellipsis;
    width: 400px;
    overflow: hidden;
  }
  .num_nobr{
    width: 50px;
  }
  .error_nobr{
    width: 250px;
    margin: 0px;
  }
  .error_nobr_more{
    white-space: pre-line;
  }
  .title_nobr:hover,.fail:hover,.success:hover{
    cursor:pointer;
    font-weight: bold;
  }
</style>
<script type="text/javascript" src="/js/error.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- sweetalert -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script type="text/javascript">
 // data input hidden values
  var sDateValue = $('#sDate').val();
  var eDateValue = $('#eDate').val();
  $(document).ready(function(){
    $('#reportrange').daterangepicker(optionSet1,cb);

    if(sDateValue == '' && eDateValue == ''){
      $('#reportrange span').html(moment().format('YYYY.MM.DD') + ' - ' + moment().format('YYYY.MM.DD'));
    }
    else{
      $('#reportrange span').html(moment(new Date(sDateValue)).format('YYYY.MM.DD') + ' - ' + moment(new Date(eDateValue+' 23:59:59')).format('YYYY.MM.DD'));
    }
  });
  // 성공 클릭시
  $(document).on('click','.success',function(){
    var clickParam = $(this).data('idx');
    if($(this).text() == '0'){
      return false;
    }
    $.ajax({
      url: '/newsclipping/period/result',
      type: 'post',
      data: {
        M_result: 'success',
        arr : [clickParam,13]
      },
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
      },
      success:function(data){
        console.log(data);
        $('#success-list').empty();
        data.result.forEach(function(ele,idx){
          var html = '<tr><td><i class="fas fa-check"></i></td>'+
            '<td>'+(idx+1)+'</td>'+
            '<td>'+ele.M_email+'</td>'+
            '<td>'+ele.M_ptitle+'</td>'+
            '<td>'+ele.M_name+'</td>'+
            '<td>'+((ele.OPENTIME != null) ? ele.OPENTIME:'')+'</td>'+
          '</tr>';
          $('#success-list').append(html);
        });
        $('#success-Modal').modal('show');
      }
    });
  });
  // 실패 클릭시
  $(document).on('click','.error_nobr',function(){
    $(this).toggleClass('error_nobr_more');
  });
  $(document).on('click','.fail',function(){
    var clickFParam = $(this).data('idx');
    if($(this).text() == '0'){
      return false;
    }
    $.ajax({
      url: '/newsclipping/period/result',
      type: 'post',
      data: {
        M_result: 'fail',
        arr : [clickFParam,13]
      },
      datatype : 'json',
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
      },
      success:function(data){
        $('#error-list').empty();
        data.result.forEach(function(ele,idx){
          // var o_msg = ele.M_result_msg.replace('send mail Error: ','');
          // var k_msg = settingErrorMsg(o_msg);
          var code = ele.FINALRESULT;
          var k_msg = '';
          if(code == null && ele.RSLTMSG != 'ER'){
            var errMsgArr = ele.RSLTMSG.split(']');
            code = errMsgArr[0].replace('[','');
            k_msg = errMsgArr[1];
            if(k_msg.indexOf('Master Content Not Found') != -1){
              k_msg = '지원되지 않는 미디어 유형';
            }
          }
          else{
            k_msg = settingErrorMsg(code);
          }
          var html = '<tr><td><i class="fas fa-exclamation-triangle"></i></td>'+
            '<td>'+code+'</td>'+'<td>'+ele.M_email;
          if(code != '42' && code != '43' && code != '44' && code != '45' && ele.SENDRESULT != 'ER'){
            html+='<label class="label label-warning">재발송가능</label>'
          }
          html+='</td>'+'<td>'+ele.M_ptitle+'</td>'+
            '<td>'+ele.M_name+'</td>'+
            '<td><div class="error_nobr">'+k_msg+'</div></td>'+
          '</tr>';
          $('#error-list').append(html);
        });
        $('#error-Modal').modal('show');
      }
    });
  });

  //페이지 이동
  $(document).on('click','.page-link',function(){
    var num = Number($(this).text()) || Number($(this).data().num);
    var param = {
      page : Number($(this).data().value)
    };
    // data input hidden values
    var sDateValue = $('#sDate').val();
    var eDateValue = $('#eDate').val();
    if(sDateValue != '' && eDateValue != '' ){
      param.sDate = moment(sDateValue).format('YYYY-MM-DD');
      param.eDate = moment(eDateValue).format('YYYY-MM-DD');
    }
    ajaxGetPageList(param,num);
  });
  function ajaxGetPageList(param){
    console.log('ajaxGetPageList:',param);
    $.ajax({
      url: '/newsclipping/period/getNextPage',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로고침 후 다시 시도해주세요.');
      },
      success: function(data){
        if(data.status != true){
          alert('새로고침 후 다시 시도해주세요.');
          return false;
        }
        $('#listTable tbody').eq(0).empty();

        data.result.list.forEach(function(item,idx){
          var numIdx = Math.ceil(data.result.listCount-(data.result.offset+idx)).toString();
          var html = '<tr>\
            <th>'+numIdx+'</th>\
            <td>'+item.GENDATE+'</td>\
            <td><a href="http://showbox.email/preview/newsclipping?idx='+item.MSGID+'" target="_blank"><div class="title_nobr">'+item.M_subject+'</div></a></td>\
            <td><span class="total">'+(parseInt(item.success) + parseInt(item.fail))+'</span></td>\
            <td class="success" data-idx=\"'+item.MSGID+'\">'+item.success+'</td>\
            <td class="fail" data-idx=\"'+item.MSGID+'\">'+item.fail+'</td>';
          html += '<td>'+ ((item.M_type == '0') ? '즉시' : '예약');
          if((new Date().getTime() < new Date(item.SENDTIME).getTime()) && parseInt(item.success) == 0 && parseInt(item.fail) ==0){
            html += '<label class="badge badge-danger m-b-0">대기</label>'
          }
          html += '</td></tr>';
          $('#listTable tbody').eq(0).append(html);
        });
        var limit = 10;
        var pageCount = Math.ceil(data.result.listCount/limit);
        $('#listTable tfoot').eq(0).empty();
        if(pageCount > 1) {
          var html = '<tr><td colspan="7"><ul class="pagination float-right">';
          var pageSize = 5;
          var pRCnt = parseInt(data.result.currentPage / pageSize);
          if(data.result.currentPage % pageSize == 0){
            pRCnt = parseInt(data.result.currentPage / pageSize) - 1;
          }
          if(data.result.currentPage > 5) {
            html += '<li class="page-item"><a class="page-link" data-value="1" aria-label="Previous">\
                <i class="ti-angle-double-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>\
              <li class="page-item"><a class="page-link" data-value=\"'+(pRCnt * pageSize)+'"\ aria-label="Previous">\
                <i class="ti-angle-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>';
          }

          for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){
            var active = (data.result.currentPage == index) ? "active" : "";
            html += '<li class=\"'+active+' page-item">\
              <a class="page-link" data-value=\"'+index+'"\ >'+index+'</a></li>'

            if(index == pageCount) {
              break;
            }
          }
          if((pRCnt + 1) * pageSize < pageCount) {
            html += '<li class="page-item">\
                  <a class="page-link" data-value=\"'+((pRCnt + 1)*pageSize+1)+'"\ aria-label="Next">\
                    <i class="ti-angle-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>\
                  <li class="page-item">\
                  <a class="page-link" data-value=\"'+pageCount+'"\ aria-label="Next">\
                    <i class="ti-angle-double-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>';
          }
          html += '</ul></td></tr>';
          $('#listTable tfoot').eq(0).append(html);
        }
      }
    });
  }

  //날짜 선택 시
  function searchDate(){
    var dateArr = $("#reportrange span").text().split(' - ');
    var start = moment(new Date(dateArr[0].replace(/[.]/gi,'-')));
    var end = moment(new Date(dateArr[1].replace(/[.]/gi,'-')));
    var param = {
      page : 1,
      sDate : start.format('YYYY-MM-DD'),
      eDate : end.format('YYYY-MM-DD')
    };
    $('#sDate').val(param.sDate);
    $('#eDate').val(param.eDate);
    // var url = new URL(window.location.href);
    // var keywordParams = url.searchParams.get("keyword");
    // if(keywordParams != null){
    //   param.keyword = keywordParams;
    // }
    // if(typeof(history.pushState) == 'function'){
    //   var renewURL = location.href;
    //   if(renewURL.indexOf("?page=") == -1){
    //     renewURL += '?page=1';
    //   }
    //   else{
    //     renewURL = renewURL.replace(/\?page=([0-9]+)/ig,'?page=1');
    //   }
    //   if(renewURL.indexOf("&sDate=") == -1 && renewURL.indexOf("&eDate=") == -1){
    //     renewURL += '&sDate='+param.sDate+'&eDate='+param.eDate;
    //   }
    //   else{
    //     renewURL = renewURL.replace(/\&sDate=(\d{4}-\d{2}-\d{2})/ig,'&sDate='+param.sDate);
    //     renewURL = renewURL.replace(/\&eDate=(\d{4}-\d{2}-\d{2})/ig,'&eDate='+param.eDate);
    //   }
    //   //페이지 갱신 실행!
    //   history.pushState(null, null,renewURL);
    // }
    ajaxGetPageList(param);
  }
  $(document).on('click','.applyBtn',searchDate);
  //날짜 설정
  var cb = function(start, end, label) {
    console.log('FUNC: cb',start.toISOString(), end.toISOString(), label);
    $('#reportrange span').html(moment(new Date(start.toISOString())).format('YYYY.MM.DD') + ' - ' + moment(new Date(end.toISOString())).format('YYYY.MM.DD'));
    searchDate();
  }
  var ranges = {
    '당일': [moment(), moment()],
    '전일': [moment().subtract(1, 'days'), moment()],
    '최근 7일': [moment().subtract(6, 'days'), moment()],
    '최근 30일': [moment().subtract(29, 'days'), moment()]
  };
  var optionSet1 = {
    startDate: (sDateValue != '') ? moment(new Date(sDateValue)) : moment(),
    endDate:  (eDateValue != '') ? moment(new Date(eDateValue+' 23:59:59')) : moment(),
    dateLimit: {
      days: 60
    },
    showDropdowns: true,
    showRangeInputsOnCustomRangeOnly: false,
    ranges: ranges,
    opens: 'left',
    buttonClasses: ['btn'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'YYYY.MM.DD',
    separator: ' to ',
    locale: {
      applyLabel: '확인',
      cancelLabel: '취소',
      customRangeLabel: '직접선택',
      daysOfWeek: ['일', '월', '화', '수', '목', '금', '토'],
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      firstDay: 1
    }
  };
</script>
