<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>통계</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">통계</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row" id="listTable">
        <div class="col-md-12">
          <div class="row m-b-10">
            <div class="col-md-4 offset-md-8">
              <div id="reportrange" class="form-control form-control-inverse">
                <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
                <span></span>
                <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="1%">NO</th>
                      <th width="10%">날짜</th>
                      <th width="5%">키워드</th>
                      <th width="20%">제목</th>
                      <th width="5%">발송건</th>
                      <th width="5%">성공</th>
                      <th width="5%">실패</th>
                      <th width="5%">발송타입</th>
                      <th width="5%">통계보고서</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      var limit = 20;
                      if(currentPage > 0){
                        (currentPage - 1) * limit;
                      }
                      for(var i=0; i < list.length; i++) {
                    %>
                    <tr>
                      <th><%= listCount - i - offset %></th>
                      <td><%= list[i].M_regdate %></td>
                      <td><%= list[i].M_keyword %></td>
                      <td><%= list[i].M_subject %></td>
                      <td><%= parseInt(list[i].success) + parseInt(list[i].fail) %></td>
                      <td><%= list[i].success %></td>
                      <td><%= list[i].fail %></td>
                      <td><%= list[i].M_type %></td>
                      <td><button class="btn btn-inverse btn-period"><i class="fas fa-chart-bar"></i></button></td>
                    </tr>
                    <% }; %>
                  </tbody>
                  <tfoot>
                    <%
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                    <tr>
                      <td colspan="9">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(currentPage / pageSize);
                            if(currentPage % pageSize == 0){
                              pRCnt = parseInt(currentPage / pageSize) - 1;
                            }
                            if(currentPage > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(currentPage == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='period-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title"><p id="date">2018-03-26</p> 통계보고서</h5>
            </div>
            <div class='modal-body'>
              <div class="card">
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-sm" id="modal-cnt">
                      <tbody>
                        <tr>
                          <th class="b-r-1 text-left" width="30%">메일발송</th>
                          <td>232</td>
                          <th class="b-r-1 text-left" width="30%">성공</th>
                          <td>0</td>
                          <th class="b-r-1 text-left" width="30%">실패</th>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left" width="30%">언론사</th>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">기자</th>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">기사글</th>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">댓글</th>
                          <td colspan="5"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<style type="text/css">
  .btn i {
    margin-right: 0px;
  }
  .title_nobr,.kwd_nobr{
    font-size: 15px;
    padding-left: 3px;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
  }
  .kwd_nobr{
    width: 146px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- sweetalert -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  var url_string = window.location.href
  var url = new URL(url_string);
  var sDateParams = url.searchParams.get("sDate");
  var eDateParams = url.searchParams.get("eDate");

  $(document).ready(function(){
    $('#reportrange').daterangepicker(optionSet1,cb);

    if(sDateParams == null && eDateParams == null){
      $('#reportrange span').html(moment().format('YYYY.MM.DD') + ' - ' + moment().format('YYYY.MM.DD'));
    }
    else{
      $('#reportrange span').html(moment(new Date(sDateParams)).format('YYYY.MM.DD') + ' - ' + moment(new Date(eDateParams+' 23:59:59')).format('YYYY.MM.DD'));
    }
  });

  // 통계보고서 보기버튼 클릭시
  $(document).on("click",".btn-period",function(){
    $("#period-Modal").modal('show');
  });

  //페이지 이동
  $(document).on('click','.page-link',function(){
    var href = new URL(window.location.href);
    var num = Number($(this).text()) || Number($(this).data().num);
    var param = {
      page : Number($(this).data().value)
    };
    if(href.searchParams.get("sDate") != null && href.searchParams.get("eDate") != null ){
      param.sDate = moment(href.searchParams.get("sDate")).format('YYYY-MM-DD');
      param.eDate = moment(href.searchParams.get("eDate")).format('YYYY-MM-DD');
    }
    ajaxGetPageList(param,num);
  });
  function ajaxGetPageList(param){
    console.log('ajaxGetPageList:',param);
    $.ajax({
      url: '/period/getNextPage',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로고침해주세요~');
      },
      success: function(data){
        console.log(data);
        if(typeof(history.pushState) == 'function'){
          //현재 주소를 가져온다.
          var renewURL = location.href;
          //현재 주소 중 page 부분이 있다면 새로 부여될 페이지 번호를 할당한다.
          renewURL = renewURL.replace(/\?page=([0-9]+)/ig,'?page='+data.currentPage);
          if(renewURL.indexOf("?page=") == -1){
            renewURL += '?page='+data.currentPage;
          }
          //페이지 갱신 실행!
          history.pushState(null, null,renewURL);
        }
        $('#listTable tbody').empty();
        data.list.forEach(function(item,idx){
          var numIdx = Math.ceil(data.listCount-(data.offset+idx)).toString();
          var html = '<tr>\
            <th>'+numIdx+'</th>\
            <td>'+item.M_regdate+'</td>\
            <td>'+item.M_keyword+'</td>\
            <td>'+item.M_subject+'</td>\
            <td>'+(parseInt(item.success) + parseInt(item.fail))+'</td>\
            <td>'+item.success+'</td>\
            <td>'+item.fail+'</td>\
            <td>'+item.M_type+'</td>\
            <td><button class="btn btn-inverse btn-period"><i class="fas fa-chart-bar"></i></button></td>\
          </tr>'
          $('#listTable tbody').append(html);
        });
        var limit = 20;
        var pageCount = Math.ceil(data.listCount/limit);
        $('#listTable tfoot').empty();
        if(pageCount > 1) {
          var html = '<tr><td colspan="9"><ul class="pagination float-right">';
          var pageSize = 5;
          var pRCnt = parseInt(data.currentPage / pageSize);
          if(data.currentPage % pageSize == 0){
            pRCnt = parseInt(data.currentPage / pageSize) - 1;
          }
          if(data.currentPage > 5) {
            html += '<li class="page-item"><a class="page-link" data-value="1" aria-label="Previous">\
                <i class="ti-angle-double-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>\
              <li class="page-item"><a class="page-link" data-value=\"'+(pRCnt * pageSize)+'"\ aria-label="Previous">\
                <i class="ti-angle-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>';
          }

          for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){
            var active = (data.currentPage == index) ? "active" : "";
            html += '<li class=\"'+active+' page-item">\
              <a class="page-link" data-value=\"'+index+'"\ >'+index+'</a></li>'

            if(index == pageCount) {
              break;
            }
          }
          if((pRCnt + 1) * pageSize < pageCount) {
            html += '<li class="page-item">\
                  <a class="page-link" data-value=\"'+((pRCnt + 1)*pageSize+1)+'"\ aria-label="Next">\
                    <i class="ti-angle-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>\
                  <li class="page-item">\
                  <a class="page-link" data-value=\"'+pageCount+'"\ aria-label="Next">\
                    <i class="ti-angle-double-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>';
          }
          html += '</ul></td></tr>';
          $('#listTable tfoot').append(html);
        }
      }
    });
  }

  //날짜 선택 시
  function searchDate(){
    var href = new URL(window.location.href);
    var dateArr = $("#reportrange span").text().split(' - ');
    var start = moment(new Date(dateArr[0]));
    var end = moment(new Date(dateArr[1]+' 23:59:59'));
    var param = {
      page : 1,
      sDate : start.format('YYYY-MM-DD'),
      eDate : end.format('YYYY-MM-DD')
    };

    if(typeof(history.pushState) == 'function'){
      var renewURL = location.href;
      if(renewURL.indexOf("?page=") == -1){
        renewURL += '?page=1&sDate='+param.sDate+'&eDate='+param.eDate;
      }
      else if(renewURL.indexOf("&sDate=") == -1 && renewURL.indexOf("&eDate=") == -1){
        renewURL += '&sDate='+param.sDate+'&eDate='+param.eDate;
      }
      else{
        renewURL = renewURL.replace(/\?page=([0-9]+)/ig,'?page=1');
        renewURL = renewURL.replace(/\&sDate=(\d{4}-\d{2}-\d{2})/ig,'&sDate='+param.sDate);
        renewURL = renewURL.replace(/\&eDate=(\d{4}-\d{2}-\d{2})/ig,'&eDate='+param.eDate);
      }
      //페이지 갱신 실행!
      history.pushState(null, null,renewURL);
    }

    ajaxGetPageList(param);
  }
  $(document).on('click','.applyBtn',searchDate);

  //날짜 설정
  var cb = function(start, end, label) {
    console.log('FUNC: cb',start.toISOString(), end.toISOString(), label);
    $('#reportrange span').html(moment(new Date(start.toISOString())).format('YYYY.MM.DD') + ' - ' + moment(new Date(end.toISOString())).format('YYYY.MM.DD'));
    searchDate();
  }
  var ranges = {
    '당일': [moment(), moment()],
    '전일': [moment().subtract(1, 'days'), moment()],
    '최근 7일': [moment().subtract(6, 'days'), moment()],
    '최근 30일': [moment().subtract(29, 'days'), moment()]
  };
  var optionSet1 = {
    startDate: (sDateParams != null) ? moment(new Date(sDateParams)) : moment(),
    endDate:  (eDateParams != null) ? moment(new Date(eDateParams+' 23:59:59')) : moment(),
    dateLimit: {
      days: 60
    },
    showDropdowns: true,
    showRangeInputsOnCustomRangeOnly: false,
    ranges: ranges,
    opens: 'right',
    buttonClasses: ['btn'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'YYYY.MM.DD',
    separator: ' to ',
    locale: {
      applyLabel: '확인',
      cancelLabel: '취소',
      customRangeLabel: '직접선택',
      daysOfWeek: ['일', '월', '화', '수', '목', '금', '토'],
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      firstDay: 1
    }
  };
</script>
