<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>통계</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">통계</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row" id="listTable">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="col-md-3 p-r-0 p-l-0 offset-md-9">
                <div id="reportrange" class="form-control form-control-inverse">
                  <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
                  <span></span>
                  <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
                </div>
              </div>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="1%">NO</th>
                      <th width="10%">발송일</th>
                      <th width="5%">키워드</th>
                      <th width="20%">제목</th>
                      <th width="5%">발송건수</th>
                      <th width="5%">성공</th>
                      <th width="5%">실패</th>
                      <th width="5%">발송타입</th>
                      <th width="5%">통계보고서</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      var limit = 20;
                      if(currentPage > 0){
                        (currentPage - 1) * limit;
                      }
                      for(var i=0; i < list.length; i++) {
                    %>
                    <tr>
                      <th><%= listCount - i - offset %></th>
                      <td><%= list[i].M_regdate %></td>
                      <td><div class="kwd_nobr"><%= list[i].M_keyword %></div></td>
                      <td>
                        <div class="title_nobr"><%= list[i].M_subject %></div>
                        <div class="mailHtml"><%= list[i].M_body %></div>
                      </td>
                      <td><%= parseInt(list[i].success) + parseInt(list[i].fail) %></td>
                      <td><%= list[i].success %></td>
                      <td><%= list[i].fail %></td>
                      <td>
                        <%=(list[i].M_type == '0') ? '즉시' : '예약'%>
                        <% if((new Date().getTime() < new Date(list[i].M_send).getTime())){ %>
                        <label class="badge badge-danger">대기</label>
                        <%}%>
                      </td>
                      <td><button class="btn btn-inverse btn-period" data-idx="<%= list[i].n_idx %>"><i class="fas fa-chart-bar"></i></button></td>
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <%
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                    <tr>
                      <td colspan="9">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(currentPage / pageSize);
                            if(currentPage % pageSize == 0){
                              pRCnt = parseInt(currentPage / pageSize) - 1;
                            }
                            if(currentPage > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(currentPage == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='previewMail-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title"><span id="date"></span>미리보기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='col-sm-12' id="mailBody"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='period-Modal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title"><span id="date"></span> 통계보고서</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="card">
                <div class="card-header">
                  <h5>메일 발송 : <span id="total">0</span>건 (성공: <span id="success">0</span>건 / 실패: <span id="fail">0</span>건)</h5>
                </div>
                <div class="card-block table-border-style">
                  <table class="table matrics-table">
                    <tbody>
                      <tr class="text-center">
                        <td width="50%"><strong>언론사</strong></td>
                        <td id="media"></td>
                      </tr>
                      <tr class="text-center">
                        <td><strong>기자</strong></td>
                        <td id="reporter"></td>
                      </tr>
                      <tr class="text-center">
                        <td><strong>기사글</strong></td>
                        <td id="newsCount"></td>
                      </tr>
                      <tr class="text-center">
                        <td><strong>댓글</strong></td>
                        <td id="replyCount"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<style type="text/css">
  .card .card-header span:not(.input-group-addon){
    display: inline;
  }
  .table td, .table th{
    vertical-align: middle;
  }
  .btn i {
    margin-right: 0px;
  }
  .mailHtml{
    display: none;
  }
  #mailBody{
    overflow: auto;
  }
  .title_nobr,.kwd_nobr{
    font-size: 15px;
    padding-left: 3px;
    text-overflow: ellipsis;
    width: 500px;
    overflow: hidden;
  }
  .title_nobr:hover{
    font-weight: bold;
  }
  .kwd_nobr{
    width: 146px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- sweetalert -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  var url_string = window.location.href
  var url = new URL(url_string);
  var sDateParams = url.searchParams.get("sDate");
  var eDateParams = url.searchParams.get("eDate");

  $(document).ready(function(){
    $('#reportrange').daterangepicker(optionSet1,cb);

    if(sDateParams == null && eDateParams == null){
      $('#reportrange span').html(moment().format('YYYY.MM.DD') + ' - ' + moment().format('YYYY.MM.DD'));
    }
    else{
      $('#reportrange span').html(moment(new Date(sDateParams)).format('YYYY.MM.DD') + ' - ' + moment(new Date(eDateParams+' 23:59:59')).format('YYYY.MM.DD'));
    }
  });

  // 제목 클릭시
  $(document).on('click','.title_nobr',function(){
    $('#mailBody').empty();
    $('#mailBody').html($(this).next('div').text());
    $('#previewMail-Modal').modal('show');
  });
  // 통계보고서 보기버튼 클릭시
  $(document).on("click",".btn-period",function(){
    $('#media').text(0);
    $('#reporter').text(0);
    $('#newsCount').text(0);
    $('#replyCount').text(0);
    var tdEles = $(this).parents('tr').find('td');
    var param = {
      M_idx_A:$(this).data('idx'),
      keyword:tdEles.eq(1).text(),
      sDate:tdEles.eq(0).text(),
      eDate:tdEles.eq(0).text()
    };
    ajaxGetPeriod(param,tdEles);
  });

  function ajaxGetPeriod(param,tag){
    $.ajax({
      url: '/period/getPeriod',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로고침 후 다시 시도해주세요.');
      },
      success: function(data){
        console.log(data);
        if(data.status){
          $('#media').text(data.result.media);
          $('#reporter').text(data.result.reporter);
          $('#newsCount').text(data.result.newsCount);
          $('#replyCount').text(data.result.replyCount);

          $('#total').text(tag.eq(3).text());
          $('#success').text(tag.eq(4).text());
          $('#fail').text(tag.eq(5).text());
          $("#period-Modal").modal('show');
        } else{
          alert('새로고침 후 다시 시도해주세요.');
        }
      }
    });
  }

  //페이지 이동
  $(document).on('click','.page-link',function(){
    var href = new URL(window.location.href);
    var num = Number($(this).text()) || Number($(this).data().num);
    var param = {
      page : Number($(this).data().value)
    };
    if(href.searchParams.get("sDate") != null && href.searchParams.get("eDate") != null ){
      param.sDate = moment(href.searchParams.get("sDate")).format('YYYY-MM-DD');
      param.eDate = moment(href.searchParams.get("eDate")).format('YYYY-MM-DD');
    }
    ajaxGetPageList(param,num);
  });
  function ajaxGetPageList(param){
    console.log('ajaxGetPageList:',param);
    $.ajax({
      url: '/period/getNextPage',
      type: 'post',
      data: param,
      error: function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        alert('새로고침 후 다시 시도해주세요.');
      },
      success: function(data){
        console.log(data);
        if(data.status != true){
          alert('새로고침 후 다시 시도해주세요.');
          return false;
        }
        if(typeof(history.pushState) == 'function'){
          //현재 주소를 가져온다.
          var renewURL = location.href;
          //현재 주소 중 page 부분이 있다면 새로 부여될 페이지 번호를 할당한다.
          renewURL = renewURL.replace(/\?page=([0-9]+)/ig,'?page='+data.result.currentPage);
          if(renewURL.indexOf("?page=") == -1){
            renewURL += '?page='+data.result.currentPage;
          }
          //페이지 갱신 실행!
          history.pushState(null, null,renewURL);
        }
        $('#listTable tbody').empty();
        data.result.list.forEach(function(item,idx){
          var numIdx = Math.ceil(data.result.listCount-(data.result.offset+idx)).toString();
          var html = '<tr>\
            <th>'+numIdx+'</th>\
            <td>'+item.M_regdate+'</td>\
            <td><div class="kwd_nobr">'+item.M_keyword+'</div></td>\
            <td><div class="title_nobr">'+item.M_subject+'</div><div class="mailHtml">'+item.M_body+'</div></td>\
            <td>'+(parseInt(item.success) + parseInt(item.fail))+'</td>\
            <td>'+item.success+'</td>\
            <td>'+item.fail+'</td>';
          html += '<td>'+ ((item.M_type == '0') ? '즉시' : '예약');
          if((new Date().getTime() < new Date(item.M_send).getTime())){
            html += '<label class="badge badge-danger">대기</label>'
          }
          html += '</td>';
          html += '<td><button class="btn btn-inverse btn-period"  data-idx="'+item.n_idx+'"><i class="fas fa-chart-bar"></i></button></td>\
          </tr>'
          $('#listTable tbody').append(html);
        });
        var limit = 20;
        var pageCount = Math.ceil(data.result.listCount/limit);
        $('#listTable tfoot').empty();
        if(pageCount > 1) {
          var html = '<tr><td colspan="9"><ul class="pagination float-right">';
          var pageSize = 5;
          var pRCnt = parseInt(data.result.currentPage / pageSize);
          if(data.result.currentPage % pageSize == 0){
            pRCnt = parseInt(data.result.currentPage / pageSize) - 1;
          }
          if(data.result.currentPage > 5) {
            html += '<li class="page-item"><a class="page-link" data-value="1" aria-label="Previous">\
                <i class="ti-angle-double-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>\
              <li class="page-item"><a class="page-link" data-value=\"'+(pRCnt * pageSize)+'"\ aria-label="Previous">\
                <i class="ti-angle-left f-12"></i>\
                <span aria-hidden="true"></span>\
                <span class="sr-only">Previous</span>\
              </a></li>';
          }

          for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){
            var active = (data.result.currentPage == index) ? "active" : "";
            html += '<li class=\"'+active+' page-item">\
              <a class="page-link" data-value=\"'+index+'"\ >'+index+'</a></li>'

            if(index == pageCount) {
              break;
            }
          }
          if((pRCnt + 1) * pageSize < pageCount) {
            html += '<li class="page-item">\
                  <a class="page-link" data-value=\"'+((pRCnt + 1)*pageSize+1)+'"\ aria-label="Next">\
                    <i class="ti-angle-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>\
                  <li class="page-item">\
                  <a class="page-link" data-value=\"'+pageCount+'"\ aria-label="Next">\
                    <i class="ti-angle-double-right f-12"></i>\
                    <span aria-hidden="true"></span>\
                    <span class="sr-only">Next</span>\
                  </a></li>';
          }
          html += '</ul></td></tr>';
          $('#listTable tfoot').append(html);
        }
      }
    });
  }

  //날짜 선택 시
  function searchDate(){
    var href = new URL(window.location.href);
    var dateArr = $("#reportrange span").text().split(' - ');
    var start = moment(new Date(dateArr[0]));
    var end = moment(new Date(dateArr[1]+' 23:59:59'));
    var param = {
      page : 1,
      sDate : start.format('YYYY-MM-DD'),
      eDate : end.format('YYYY-MM-DD')
    };

    if(typeof(history.pushState) == 'function'){
      var renewURL = location.href;
      if(renewURL.indexOf("?page=") == -1){
        renewURL += '?page=1&sDate='+param.sDate+'&eDate='+param.eDate;
      }
      else if(renewURL.indexOf("&sDate=") == -1 && renewURL.indexOf("&eDate=") == -1){
        renewURL += '&sDate='+param.sDate+'&eDate='+param.eDate;
      }
      else{
        renewURL = renewURL.replace(/\?page=([0-9]+)/ig,'?page=1');
        renewURL = renewURL.replace(/\&sDate=(\d{4}-\d{2}-\d{2})/ig,'&sDate='+param.sDate);
        renewURL = renewURL.replace(/\&eDate=(\d{4}-\d{2}-\d{2})/ig,'&eDate='+param.eDate);
      }
      //페이지 갱신 실행!
      history.pushState(null, null,renewURL);
    }

    ajaxGetPageList(param);
  }
  $(document).on('click','.applyBtn',searchDate);

  //날짜 설정
  var cb = function(start, end, label) {
    console.log('FUNC: cb',start.toISOString(), end.toISOString(), label);
    $('#reportrange span').html(moment(new Date(start.toISOString())).format('YYYY.MM.DD') + ' - ' + moment(new Date(end.toISOString())).format('YYYY.MM.DD'));
    searchDate();
  }
  var ranges = {
    '당일': [moment(), moment()],
    '전일': [moment().subtract(1, 'days'), moment()],
    '최근 7일': [moment().subtract(6, 'days'), moment()],
    '최근 30일': [moment().subtract(29, 'days'), moment()]
  };
  var optionSet1 = {
    startDate: (sDateParams != null) ? moment(new Date(sDateParams)) : moment(),
    endDate:  (eDateParams != null) ? moment(new Date(eDateParams+' 23:59:59')) : moment(),
    dateLimit: {
      days: 60
    },
    showDropdowns: true,
    showRangeInputsOnCustomRangeOnly: false,
    ranges: ranges,
    opens: 'left',
    buttonClasses: ['btn'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'YYYY.MM.DD',
    separator: ' to ',
    locale: {
      applyLabel: '확인',
      cancelLabel: '취소',
      customRangeLabel: '직접선택',
      daysOfWeek: ['일', '월', '화', '수', '목', '금', '토'],
      monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      firstDay: 1
    }
  };
</script>
