<div id="mail">
<!-- DB html -->
<%-veiw%>
<!-- 지난기사 -->
<table width="750" align="center" cellpadding="0" cellspacing="0" border="0" style="margin-top: 30px;">
  <tbody>
    <tr>
      <td>
        [지난 기사보기]
        <hr>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <colgroup>
            <col width="80%">
            <col width="20%">
          </colgroup>
          <tbody>
            <%
              for(var i=0; i < pastView.length; i++) {
                var url = 'http://showbox.email/preview?keyword='+pastView[i].keyword_idx+'&idx='+pastView[i].n_idx;
                if(currentPage != '1'){
                  url += '&page='+currentPage
                }
                var limit = 5;
                var numIdx = Math.ceil(pastCount-(((currentPage - 1) * limit)+i)).toString();
                if(numIdx != '0'){
              %>
              <tr>
                <td style="font-size: small;padding:5px 5px 5px 0px;border-bottom:1px dotted #d9d9d9;color:#444;">
                  [<%=((pastView[i].M_invitation == '0')?('No.'+pastView[i].M_seq_number+'차'):'Invitation')%>]
                  <a style="text-decoration:none; color:black;" href="<%=url%>" target="_blank"><%=pastView[i].M_subject%></a>
                </td>
                <td style="font-size: small;padding:5px 0 5px;border-bottom:1px dotted #d9d9d9;color:#444;"><%=pastView[i].M_regdate%></td>
              </tr>
            <% } } %>
            <tr>
              <td colspan="2" style="text-align: center; font-size: small;padding:10px 0 5px;">
                <%
                  var pages = Math.ceil(pastCount / limit);
                  var index=1;
                  for(index;index<=pages;index++){
                    //http://showbox.email
                    if(currentPage == index){
                %>
                    <strong><span class="current"><%=index%></span></strong>
                  <%} else{%>
                  <a href="http://showbox.email/preview?keyword=<%=keyword%>&idx=<%=idx%>&page=<%=index%>"><%=index%></a>
                  <%}%>
                <%}%>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="750" align="center" style="margin-top: 30px;">
  <tbody>
    <tr>
      <td align="center">Copyright ⓒ unioncontents All rights reserved.</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
</div>
